html,
body {
  font-size: 1rem;
  color: $--color--black;
  height: 100%;
  overflow: auto;
  * {
    box-sizing: border-box;
  }
}

input,
textarea {
  border: none;
  background-color: transparent;
  font-family: "NotoSansKR";
  &:focus {
    outline: none;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
  display: block;
  color: $--color--black;
  text-decoration: none;
}

button {
  font-family: "NotoSansKR";
  cursor: pointer;
}

.ft-size {
  &-xsmall {
    font-size: $--font-size-small !important;
  }
  &-small {
    font-size: $--font-size-regular !important;
  }
  &-normal {
    font-size: $--font-size-large !important;
  }
  &-large {
    font-size: $--font-size-xlarge !important;
  }
  &-xxlarge {
    font-size: $--font-size-xxxlarge !important;
  }
}
.ft-color {
  &-white {
    color: $--color--white;
  }
  &-green {
    color: $--color--green;
  }
  &-yellow {
    color: #ffb800;
  }
  &-yellow-02 {
    color: $--color--point;
  }
  &-purple {
    color: #7500ac;
  }
  &-gray {
    color: $--color--gray;
  }
}
.ft-weight {
  &-bolder {
    font-weight: 800 !important;
  }
  &-bold {
    font-weight: 700 !important;
  }
  &-medium {
    font-weight: 500 !important;
  }
  &-regular {
    font-weight: 400 !important;
  }
  &-light {
    font-weight: 300 !important;
  }
}
.ft-align {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right !important;
  }
}
.txt {
  &-warning {
    font-size: $--font-size-regular;
    color: $--color--red;
  }
  &-message {
    font-size: $--font-size-small;
    color: $--color--placeholder;
    line-height: 1.45em;
    font-weight: 300;
  }
  &-title {
    font-size: $--font-size-xxlarge;
    font-weight: bold;
    line-height: 1.4em;
  }
  &-secondary {
    font-size: $--font-size-regular;
    color: $--color--sub-blue;
  }
  &-primary {
    color: $--color--main-blue !important;
  }
  &-sub {
    color: $--color--gray !important;
  }
  &-weight-normal {
    font-weight: normal !important;
  }
}

// text-link
.text-link {
  color: $--color--main-dark-blue;
  font-size: $--font-size-regular;
  text-decoration: none;
  &.underline {
    text-decoration: underline;
  }
  &.detail {
    color: $--color--placeholder;
    display: flex;
    align-items: center;
    justify-items: space-between;
    font-weight: 200;
  }
}

.d {
  &-inline-block {
    display: inline-block;
  }
  &-inline-flex {
    display: inline-flex;
  }
  &-flex {
    display: flex;
  }
  &-flex-align-center {
    display: flex;
    align-items: center;
  }
  &-flex-be-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-iflex-be-center {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  &-flex-be-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.border-none {
  border: none !important;
}

.mt {
  &-0 {
    margin-top: 0 !important;
  }
  &-5 {
    margin-top: 5px !important;
  }
  &-10 {
    margin-top: 10px !important;
  }
  &-15 {
    margin-top: 15px !important;
  }
  &-16 {
    margin-top: 16px !important;
  }
  &-30 {
    margin-top: 30px !important;
  }
}
.mb {
  &-0 {
    margin-bottom: 0 !important;
  }
  &-16 {
    margin-bottom: 16px !important;
  }
  &-20 {
    margin-bottom: 20px !important;
  }
  &-30 {
    margin-bottom: 30px !important;
  }
}
.ml {
  &-0 {
    margin-left: 0 !important;
  }
  &-5 {
    margin-left: 5px !important;
  }
  &-8 {
    margin-left: 8px !important;
  }
  &-10 {
    margin-left: 10px !important;
  }
  &-16 {
    margin-left: 16px !important;
  }
  &-20 {
    margin-left: 20px !important;
  }
}
.mr {
  &-0 {
    margin-right: 0 !important;
  }
  &-5 {
    margin-right: 5px !important;
  }
  &-10 {
    margin-right: 10px !important;
  }
  &-16 {
    margin-right: 16px !important;
  }
}
.v-modal {
  background: rgba(0, 0, 0, 0.8) !important;
}
