// text-link
.text-link {
  color: $text-link-color;
  font-size: $font-size-small;
  text-decoration: none;
  &.underline {
    text-decoration: underline;
  }
  &.detail {
    color: $attach-color;
    display: flex;
    align-items: center;
    justify-items: space-between;
    font-weight: 200;
  }
}

//input
.inp {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #eef2f6;
  border-radius: 5px;
  &-inner {
    width: calc(100% - 30px);
    padding: 12px 36px 12px 15px;
    position: relative;
  }
  &.disabled {
    background-color: $disabled-color;
    .input-text-line {
      &:disabled {
        color: #c9d0d7;
      }
    }
  }
  &.white {
    background-color: $--color--white;
  }
  .btn-close {
    border: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../../assets/images/close.svg) no-repeat 50% 50% / contain;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.input {
  &-text-line {
    border: 0;
    width: 100%;
    background-color: transparent;
    font-size: $font-size-small;
    letter-spacing: -0.7px;
    &::placeholder {
      color: $attach-color;
    }
    &:focus {
      caret-color: $main-color;
      outline: none;
    }
  }
  &-checkbox {
    position: relative;
    [type="checkbox"] {
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      top: -999999px;
      opacity: 0;

      &:checked + label {
        &:before {
          background-color: $sub-color;
        }
        span {
          color: $sub-color;
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      &:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        background-color: $disabled-color;
        vertical-align: middle;
        margin-right: 8px;
      }
      span {
        display: inline-block;
        color: $disabled-color;
        font-size: $font-size-small;
        font-weight: 500;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 5px;
        top: 50%;
        width: 4px;
        height: 7px;
        border-bottom: 1.8px $--color--white solid;
        border-right: 1.8px $--color--white solid;
        z-index: 10;
        transform: rotate(45deg) translate(-50%, -50%);
      }
    }
  }
}
.form {
  label {
    font-size: $font-size-small;
    font-weight: bold;
    color: $--color--black;
  }
}
.select {
  .el-input__inner {
    color: $--color--black;
  }
}
.l-radio {
  .el-radio {
    &__input {
      &.is-checked {
        .el-radio__inner {
          background: url(../../assets/images/icon-radio-active.svg) no-repeat 50% 50% / contain;
          border-color: unset;
          border: none;
          &::after {
            display: none;
          }
        }
        & + .el-radio__label {
          color: $sub-color;
        }
      }
    }
    &__inner {
      width: 18px;
      height: 18px;
    }
  }
}
.l-textarea {
  position: relative;
  background-color: $--color--pale-gray;
  padding: 12px 15px 36px;
  .input__count {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: transparent !important;
    color: $attach-color;
    font-size: $font-size-small !important;
    letter-spacing: normal;
  }
  textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 150px;
    background-color: transparent;
    box-sizing: border-box;
    overflow-y: auto;
    border: none;
    border-radius: 5px;
    font-family: "NotoSansKR";
    font-weight: 400;
    line-height: 1.5;
    &::placeholder {
      color: $attach-color;
    }
  }
}

//button
.btn {
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background-color: transparent;
  vertical-align: middle;
  &-group {
    &.bottom {
      position: fixed;
      left: 0;
      bottom: 16px;
      width: 100%;
      padding: 0 16px;
      box-sizing: border-box;
    }
    .btn {
      &:not(:first-child) {
        margin-left: 10px;
      }
      &.is-on {
        color: $secondary-color;
      }
    }
    &.full-size {
      min-width: 120px;
      margin-right: 10px;
      border: 1px solid $border-color;
      border-radius: 5px;
      .btn {
        min-width: auto;
        width: 50%;
        margin: 0;
        border: none;
        border-radius: unset;
        &:first-child {
          border-right: 1px solid $border-color;
        }
      }
    }
  }
  &.large {
    font-size: $font-size-large;
    font-weight: 700;
  }
  &.regular {
    font-size: $font-size-normal;
    font-weight: 700;
  }
  &.small {
    font-size: $font-size-small;
    font-weight: 700;
    letter-spacing: -0.7px;
  }
  &.full-size {
    width: 100%;
    height: 54px;
    font-size: $font-size-large;
    font-weight: 700;
    letter-spacing: -0.9px;
  }
  &.reg-size {
    min-width: 80px;
    height: 45px;
    padding: 12px 15px;
    font-size: $font-size-small;
    font-weight: 700;
    letter-spacing: -0.7px;
  }
  &.small-size {
    min-width: 50px;
    height: 33px;
    padding: 0 12px;
    font-size: $font-size-small;
    letter-spacing: -0.7px;
  }
  &.xsmall-size {
    min-width: 46px;
    height: 27px;
    padding: 0 10px;
    font-size: $font-size-small;
    letter-spacing: -0.7px;
  }
  &.primary {
    background-color: $sub-color;
    color: $--color--white;
  }
  &.secondary {
    background-color: $main-color;
    color: $--color--white;
  }
  &.yellow {
    background-color: $--color--yellow;
    color: $--color--white;
  }
  &.white {
    background-color: $--color--white;
    border: 1px solid $border-color;
    color: $--color--black;
    &.is-on {
      color: $sub-color;
      border-color: $sub-color;
    }
  }
  &.pale-gray {
    background-color: $--color--pale-gray;
  }
  &.txt-type {
    background-color: transparent !important;
    color: $sub-color;
    &:disabled {
      color: #dbdbdb;
    }
  }
  &.w100 {
    width: 100px;
  }
  // &:focus{
  //   box-shadow: 5px 5px 15px 5px rgba(3, 161, 223, 0.15);
  // }
  &:disabled {
    background-color: $disabled-color;
  }
  &-more {
    float: right;
    display: block;
    font-size: 0;
    padding: 0 !important;
    &::before {
      content: "";
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      clear: both;
    }
    span {
      display: inline-block;
      font-size: $font-size-xsmall;
      color: $attach-color;
      font-weight: 400;
      vertical-align: middle;
    }
    .icon-more {
      display: inline-block;
      position: static !important;
      vertical-align: middle;
    }
  }
  &-edit {
    padding: 0;
    border: none;
    border-bottom: 1px solid $main-color;
    color: $main-color;
    font-size: $font-size-small;
  }
  &-delete {
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: url(../../assets/images/btn-delete.svg) no-repeat 50% 50% / contain;
    position: absolute;
    left: -9px;
    top: -9px;
  }
  &-link {
    display: inline-block;
    height: 33px;
    padding: 0 12px;
    line-height: 33px;
    vertical-align: middle;
    text-decoration: none;
  }
  &-drag {
    width: 20px;
    height: 10px;
    border: none;
    background: url(../../assets/images/icon-drag.svg) no-repeat 50% 50% / contain;
    &.medium {
      width: 18px;
      height: 8px;
    }
  }
  &-txt {
    border-bottom: 1px solid $disabled-color;
    border-radius: unset;
  }
  &-revert {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-corner-left-active.svg) no-repeat 50% 50% / contain;
    &.small {
      width: 18px;
      height: 18px;
    }
    &:disabled {
      background-color: transparent;
      background-image: url(../../assets/images/icon-corner-left.svg);
    }
  }
  &-search {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-search.svg) no-repeat 50% 50% / contain;
    &.small {
      width: 18px;
      height: 18px;
    }
    &:disabled {
      background-color: transparent;
    }
  }
  &-plus {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-outline-plus.svg) no-repeat 50% 50% / contain;
  }
  &-camera {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-camera.svg) no-repeat 50% 50% / contain;
  }
  &-prev {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-arrow-left.svg) no-repeat 50% 50% / contain;
  }
  &-setting {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-settings.svg) no-repeat 50% 50% / contain;
  }
  &-close {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-close.svg) no-repeat 50% 50% / contain;
  }
  &-clock {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-clock.svg) no-repeat 50% 50% / contain;
  }
  &.is-on {
    // .icon-search {
    //   background: url(../../assets/images/icon-search-active.svg) no-repeat 50% 50% / contain;
    // }
    .icon-corner-left {
      background: url(../../assets/images/icon-corner-left-active.svg) no-repeat 50% 50% / contain;
    }
    .icon-search,
    .icon-arrow-up,
    .icon-arrow-down,
    .icon-chevrons-up,
    .icon-chevrons-down {
      filter: invert(46%) sepia(46%) saturate(6050%) hue-rotate(171deg) brightness(102%) contrast(101%);
    }
  }
}

//card
.card {
  border-radius: 5px;
  background-color: $--color--white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
  margin: 10px 0;
  position: relative;
  &-inner {
    box-sizing: border-box;
    padding: 15px;
  }
  &-header {
    text-align: left;
    font-size: $font-size-large;
    color: $main-color;
    font-weight: bold;
    margin-bottom: 20px;
    button {
      border: none;
      text-align: left;
      font-size: $font-size-small;
      color: $main-color;
      font-weight: bolder;
      background-color: transparent;
    }
    .btn-title {
      color: $main-color;
      font-weight: 700;
    }
    .icon-more {
      width: 14px;
      height: 14px;
      position: absolute;
      right: 10px;
      top: 10px;
      background-image: url(../../assets/images/icon-arrow_r.svg);
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
    }
  }
  &-tabs {
    display: inline-block;
    &.yesterday {
      color: $disabled-color;
      margin-left: 15px;
    }
  }
  &.type-02 {
    border: 1px solid $border-color;
    border-radius: 4px;
    box-shadow: none;
  }
}

// badge
.badge {
  display: inline-block;
  min-width: 42px;
  height: 24px;
  padding: 0 10px;
  margin-right: 8px;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: $font-size-xsmall;
  line-height: 22px;
  letter-spacing: -0.6px;
  text-align: center;
  vertical-align: middle;
  &.green {
    background-color: #cae7c5;
    color: #1c790d;
  }
  &.yellow {
    background-color: #fff4d7;
    color: #ffb800;
  }
  &.red {
    background-color: #ffdddb;
    color: #de0f02;
  }
  &.purple {
    background-color: #e4d6ee;
    color: #7500ac;
  }
  &.gray {
    background-color: #dbdbdb;
    color: #adb5c0;
  }
  &.orange {
    border: 1px solid #ff6b00;
    color: #ff6b00;
  }
  &.blue {
    border: 1px solid #1e00d7;
    color: #1e00d7;
  }
  &-circle {
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-left: 8px;
      background-color: $--color--white;
      border-radius: 50%;
      color: $sub-color;
      font-size: $font-size-xxsmall;
      font-weight: bold;
      line-height: 18px;
      vertical-align: middle;
    }
    &.blue::after {
      background-color: $sub-color;
    }
    &-secondary {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $secondary-color;
      color: $--color--white;
      font-size: 0.6875rem;
      line-height: 18px;
      text-align: center;
      vertical-align: middle;
    }
    &-blue {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $sub-color;
      color: $--color--white;
      font-size: 0.6875rem;
      line-height: 18px;
      text-align: center;
      vertical-align: middle;
    }
  }
}

//icon
i {
  display: inline-block;
}
[class^="icon"] {
  vertical-align: middle;
}
.icon {
  &-xs {
    width: 14px;
    height: 14px;
  }
  &-sm {
    width: 18px;
    height: 18px;
  }
  &-xlg {
    width: 120px;
    height: 120px;
  }
  &-arrow-r {
    background: url(../../assets/images/icon-arrow_r.svg) no-repeat 50% 50% / contain;
  }
  &-arrow-down {
    width: 18px;
    height: 18px;
    background: url(../../assets/images/icon-arrow-down.svg) no-repeat 50% 50% / contain;
    &.is-on {
      background: url(../../assets/images/icon-arrow-up-active.svg) no-repeat 50% 50% / contain;
      transform: rotate(180deg);
    }
  }
  &-arrow-up {
    width: 18px;
    height: 18px;
    background: url(../../assets/images/icon-arrow-down.svg) no-repeat 50% 50% / contain;
    transform: rotate(180deg);
    &.is-on {
      background: url(../../assets/images/icon-arrow-up-active.svg) no-repeat 50% 50% / contain;
      transform: none;
    }
  }
  &-chevrons-up {
    width: 18px;
    height: 18px;
    background: url(../../assets/images/icon-chevrons-down.svg) no-repeat 50% 50% / contain;
    transform: rotate(180deg);
  }
  &-chevrons-down {
    width: 18px;
    height: 18px;
    background: url(../../assets/images/icon-chevrons-down.svg) no-repeat 50% 50% / contain;
  }
  &-complete {
    background: url(../../assets/images/check-circle.svg) no-repeat 50% 50% / contain;
  }
  &-trash {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-trash.svg) no-repeat 50% 50% / contain;
  }
  &-edit {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-edit.svg) no-repeat 50% 50% / contain;
  }
  &-search {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-search.svg) no-repeat 50% 50% / contain;
    &.small {
      width: 18px;
      height: 18px;
    }
  }
  &-refresh {
    width: 18px;
    height: 18px;
    background: url(../../assets/images/icon-refresh.svg) no-repeat 50% 50% / contain;
  }
  &-more-vertical {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-more-vertical.svg) no-repeat 50% 50% / contain;
  }
  &-corner-left {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-corner-left.svg) no-repeat 50% 50% / contain;
    &.small {
      width: 18px;
      height: 18px;
    }
  }
  &-check-circle {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-check-circle.svg) no-repeat 50% 50% / contain;
    &.small {
      width: 12px;
      height: 12px;
    }
    &.white {
      filter: invert(1);
    }
  }
  &-map-pin {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-map-pin.svg) no-repeat 50% 50% / contain;
    &.small {
      width: 12px;
      height: 14px;
    }
    &.white {
      filter: invert(1);
    }
  }
  &-phone-incoming {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-phone-incoming.svg) no-repeat 50% 50% / contain;
    &.medium {
      width: 18px;
      height: 18px;
    }
    &.small {
      width: 12px;
      height: 12px;
    }
  }
  &-phone-outgoing {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-phone-outgoing.svg) no-repeat 50% 50% / contain;
    &.medium {
      width: 18px;
      height: 18px;
    }
    &.small {
      width: 12px;
      height: 12px;
    }
  }
  &-dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: -3px 10px 0;
    background-color: $disabled-color;
    border-radius: 50%;
  }
  &-plus {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-plus.svg) no-repeat 50% 50% / contain;
  }
  &-minus {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-minus.svg) no-repeat 50% 50% / contain;
  }
  &-pin {
    width: 32px;
    height: 40px;
    background: url(../../assets/images/icon-pin.svg) no-repeat 50% 50% / contain;
    &.is-on {
      background: url(../../assets/images/icon-pin-active.svg) no-repeat 50% 50% / contain;
    }
  }
  &-envelope {
    width: 18px;
    height: 18px;
    background: url(../../assets/images/icon-envelope.svg) no-repeat 50% 50% / contain;
    &.is-on {
      background: url(../../assets/images/icon-envelope-open.svg) no-repeat 50% 50% / contain;
    }
  }
  &-bell {
    width: 26px;
    height: 26px;
    background: url(../../assets/images/icon-bell.svg) no-repeat 50% 50% / contain;
  }
}

//tab
.el-tabs {
  &__nav {
    display: flex;
    width: 100%;
    // transform:translateX(16px) !important;
    &-wrap {
      &:after {
        background-color: $border-color !important;
      }
    }
  }
  &__item {
    width: 100%;
    // font-size:$font-size-large !important;
    font-weight: bold !important;
    text-align: center;
    &.is-active {
      color: #222 !important;
    }
  }
  &__active-bar {
    background-color: $sub-color !important;
    padding: 0 5px !important;
    // left:-3.8px !important;
  }
  &__content {
    padding-top: 15px;
  }
  &--card {
    & > .el-tabs__header {
      text-align: center;
      border-bottom: none !important;
      transform: translateX(16px) !important;
      .el-tabs__nav {
        display: flex;
      }
      width: calc(100% - 32px) !important;
      .el-tabs__nav,
      .el-tabs__item {
        border: none !important;
      }
      .el-tabs__item {
        flex: 1;
        border-bottom: 1px solid #000 !important;
        font-size: $font-size-small !important;
        &:hover,
        &:focus {
          color: $--color--black !important;
        }
        &.is-active {
          border: 1px solid #000 !important;
          border-bottom: none !important;
          color: $--color--black !important;
        }
      }
    }
  }
}

// dialog
.l-dialog {
  .el-dialog {
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 60px) !important;
    margin-top: 0 !important;
    &__header {
      padding: 30px 16px 15px;
      &btn {
        top: 30px;
        right: 16px;
      }
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $--color--black !important;
      font-size: $font-size-large;
      font-weight: bold;
      letter-spacing: -0.7px;
    }
    &__close {
      width: 24px;
      height: 24px;
      background: url(../../assets/images/icon-close.svg) no-repeat 50% 50% / contain;
      &::before {
        display: none;
      }
    }
    &__body {
      padding: 15px 16px 30px !important;
      color: $--color--black !important;
    }
    &__footer {
      height: 52px;
      padding: 0 !important;
      border-top: 1px solid $border-color;
      .dialog-footer {
        display: flex;
        width: 100%;
        height: 100%;
      }
      .el-button {
        width: 100%;
        border: none;
        font-size: $font-size-small;
        font-weight: 700;
        &--default {
          color: $disabled-color;
        }
        &--primary {
          background-color: $--color--white;
          color: $sub-color;
        }
      }
    }
    &-full {
      .el-dialog {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100%;
        transform: none;
        background-color: $--color--pale-gray;
        &__header {
          padding: 16px 16px 30px 50px;
          &btn {
            .el-dialog__close {
              color: $--color--black;
            }
            top: 16px;
            right: unset;
            left: 16px;
          }
        }
        &__body {
          width: 100%;
          height: calc(100% - 70px);
          padding: 0 16px 30px !important;
          box-sizing: border-box;
          overflow-y: auto;
          .content {
            width: 100%;
            height: 100%;
            padding: 50px 20px;
            background-color: $--color--white;
            box-shadow: 15px 15px 30px 5px rgba(93, 114, 167, 0.1);
            border-radius: 5px;
            box-sizing: border-box;
            overflow-y: auto;
          }
        }
      }
      &.bg-white {
        .el-dialog {
          background-color: $--color--white;
        }
      }
    }
  }
  &.small {
    .el-dialog {
      &__header {
        padding: 30px 16px 0;
      }
      &__title {
        font-size: $font-size-small !important;
        justify-content: center;
      }
      &__headerbtn {
        display: none;
      }
    }
  }
}

// collapse
.l-collapse {
  .el-collapse {
    border: none;
    &-item {
      &.is-active {
        border-top: 1px solid $border-color;
      }
      &__header {
        position: absolute;
        top: 28px;
        right: 15px;
        width: 24px;
        height: 24px;
        border: none;
        .el-icon-arrow-right {
          margin: 0;
          width: 24px;
          height: 24px;
          background: url(../../assets/images/icon-more-vertical.svg) no-repeat 50% 50% / contain;
          &::before {
            display: none;
          }
        }
      }
      &__content {
        position: relative;
        padding: 15px;
      }
      .btn {
        &-close-pop {
          padding: 0;
          margin-right: 15px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $disabled-color;
          color: $disabled-color;
          font-size: $font-size-xsmall;
        }
        &-circle {
          width: 50px;
          height: 50px;
          background-color: $--color--pale-gray;
          border-radius: 50%;
          color: $secondary-color;
          font-size: 0.6875rem;
          letter-spacing: -0.55px;
          &.blue {
            background-color: $secondary-color;
            color: $--color--pale-gray;
          }
        }
      }
    }
  }
}
