html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "NotoSansKR";
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.6px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  src: url(../../assets/fonts/NotoSansKR-Bold.otf) format("opentype");
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url(../../assets/fonts/NotoSansKR-Black.otf) format("opentype");
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 800;
}

@font-face {
  src: url(../../assets/fonts/NotoSansKR-Medium.otf) format("opentype");
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url(../../assets/fonts/NotoSansKR-Regular.otf) format("opentype");
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url(../../assets/fonts/NotoSansKR-Light.otf) format("opentype");
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 300;
}

.text-link {
  color: #182766;
  font-size: 14px;
  text-decoration: none;
}
.text-link.underline {
  text-decoration: underline;
}
.text-link.detail {
  color: #c9d0d7;
  display: flex;
  align-items: center;
  justify-items: space-between;
  font-weight: 200;
}

.inp {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #eef2f6;
  border-radius: 5px;
}
.inp-inner {
  width: calc(100% - 30px);
  padding: 12px 15px;
  position: relative;
}
.inp.disabled {
  background-color: #adb5c0;
}
.inp.disabled .input-text-line:disabled {
  color: #c9d0d7;
}

.input-text-line {
  border: 0;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: -0.7px;
}
.input-text-line::placeholder {
  color: #c9d0d7;
}
.input-text-line:focus {
  caret-color: #182766;
  outline: none;
}

.input-checkbox {
  position: relative;
}
.input-checkbox [type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: -999999px;
  opacity: 0;
}
.input-checkbox [type="checkbox"]:checked + label:before {
  background-color: #009dd7;
}
.input-checkbox [type="checkbox"]:checked + label span {
  color: #009dd7;
}
.input-checkbox label {
  display: flex;
  align-items: center;
}
.input-checkbox label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #adb5c0;
  vertical-align: middle;
  margin-right: 8px;
}
.input-checkbox label span {
  display: inline-block;
  color: #adb5c0;
  font-size: 14px;
  font-weight: 500;
}
.input-checkbox label:after {
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: 50%;
  width: 4px;
  height: 7px;
  border-bottom: 1.8px #fff solid;
  border-right: 1.8px #fff solid;
  z-index: 10;
  transform: rotate(45deg) translate(-50%, -50%);
}

.form label {
  font-size: 14px;
  font-weight: bold;
  color: #222;
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background-color: transparent;
  vertical-align: middle;
}
.btn-group.bottom {
  position: fixed;
  left: 0;
  bottom: 16px;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}
.btn-group .btn:not(:first-child) {
  margin-left: 10px;
}
.btn.large {
  font-size: 18px;
  font-weight: bold;
}
.btn.regular {
  font-size: 16px;
  font-weight: bold;
}
.btn.small {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.7px;
}
.btn.full-size {
  width: 100%;
  height: 54px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.9px;
}
.btn.reg-size {
  min-width: 80px;
  height: 45px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.7px;
}
.btn.small-size {
  min-width: 50px;
  height: 33px;
  padding: 6px 12px;
  font-size: 14px;
  letter-spacing: -0.7px;
}
.btn.primary {
  background-color: #009dd7;
  color: #fff;
}
.btn.secondary {
  background-color: #182766;
  color: #fff;
}
.btn.white {
  background-color: #fff;
  border: 1px solid #eee;
  color: #222;
}
.btn.w100 {
  width: 100px;
}
.btn:focus {
  box-shadow: 5px 5px 15px 5px rgba(3, 161, 223, 0.15);
}
.btn:disabled {
  background-color: #adb5c0;
}
.btn-close {
  border: none;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../../assets/images/close.svg) no-repeat 50% 50% / contain;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.btn-more {
  float: right;
  display: inline-block;
  font-size: 0;
  padding: 0 !important;
}
.btn-more::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  clear: both;
}
.btn-more span {
  display: inline-block;
  font-size: 12px;
  color: #c9d0d7;
  font-weight: 400;
  vertical-align: middle;
}
.btn-more .icon-more {
  display: inline-block;
  position: static !important;
  vertical-align: middle;
}
.btn-edit {
  padding: 0;
  border: none;
  border-bottom: 1px solid #182766;
  color: #182766;
  font-size: 14px;
}
.btn-delete {
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background: url(../../assets/images/btn-delete.svg) no-repeat 50% 50% / contain;
  position: absolute;
  left: -9px;
  top: -9px;
}
.btn-link {
  display: inline-block;
  height: 33px;
  padding: 0 12px;
  line-height: 33px;
  vertical-align: middle;
  text-decoration: none;
}
.btn-drag {
  width: 20px;
  height: 10px;
  border: none;
}

.card {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
  margin: 10px 0;
  position: relative;
}
.card-inner {
  box-sizing: border-box;
  padding: 15px;
}
.card-header {
  text-align: left;
  font-size: 18px;
  color: #182766;
  font-weight: bold;
  margin-bottom: 20px;
}
.card-header button {
  border: none;
  text-align: left;
  font-size: 14px;
  color: #182766;
  font-weight: bolder;
  background-color: transparent;
}
.card-header .btn-title {
  color: #182766;
  font-weight: 700;
}
.card-header .icon-more {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url(../../assets/images/icon-arrow_r.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.card-tabs {
  display: inline-block;
}
.card-tabs.yesterday {
  color: #adb5c0;
  margin-left: 15px;
}
.card.type-02 {
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: none;
}

.badge {
  display: inline-block;
  min-width: 42px;
  height: 24px;
  padding: 0 10px;
  margin-right: 8px;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-align: center;
}
.badge.green {
  background-color: #cae7c5;
  color: #1c790d;
}
.badge.yello {
  background-color: #fff4d7;
  color: #ffb800;
}
.badge.red {
  background-color: #ffdddb;
  color: #de0f02;
}
.badge.purple {
  background-color: #e4d6ee;
  color: #7500ac;
}
.badge.gray {
  background-color: #dbdbdb;
  color: #adb5c0;
}
.badge-circle {
  position: relative;
}
.badge-circle::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 8px;
  background-color: #fff;
  border-radius: 50%;
  color: #009dd7;
  font-size: 10px;
  font-weight: bold;
  line-height: 18px;
  vertical-align: middle;
}
.badge-circle.blue::after {
  background-color: #009dd7;
}

i {
  display: inline-block;
}

[class^="icon"] {
  vertical-align: middle;
}

.icon-xs {
  width: 14px;
  height: 14px;
}

.icon-sm {
  width: 18px;
  height: 18px;
}

.icon-xlg {
  width: 120px;
  height: 120px;
}

.icon-arrow-r {
  background: url(../../assets/images/icon-arrow_r.svg) no-repeat 50% 50% / contain;
}

.icon-complete {
  background: url(../../assets/images/check-circle.svg) no-repeat 50% 50% / contain;
}

.icon-trash {
  width: 24px;
  height: 24px;
  background: url(../../assets/images/icon-trash.svg) no-repeat 50% 50% / contain;
}

.icon-edit {
  width: 24px;
  height: 24px;
  background: url(../../assets/images/icon-edit.svg) no-repeat 50% 50% / contain;
}

.icon-search {
  width: 24px;
  height: 24px;
  background: url(../../assets/images/icon-search.svg) no-repeat 50% 50% / contain;
}
.icon-search.small {
  width: 18px;
  height: 18px;
}

.icon-refresh {
  width: 18px;
  height: 18px;
  background: url(../../assets/images/icon-refresh.svg) no-repeat 50% 50% / contain;
}

.icon-more-vertical {
  width: 24px;
  height: 24px;
  background: url(../../assets/images/icon-more-vertical.svg) no-repeat 50% 50% / contain;
}

.el-tabs__nav {
  display: flex;
  width: 100%;
}
.el-tabs__nav-wrap:after {
  background-color: #eee !important;
}

.el-tabs__item {
  width: 100%;
  font-weight: bold !important;
  text-align: center;
}

.el-tabs__active-bar {
  background-color: #009dd7 !important;
  padding: 0 5px !important;
}

.el-tabs__content {
  padding-top: 15px;
}

.el-tabs--card > .el-tabs__header {
  text-align: center;
  border-bottom: none !important;
  transform: translateX(16px) !important;
  width: calc(100% - 32px) !important;
}
.el-tabs--card > .el-tabs__header .el-tabs__nav {
  display: flex;
}
.el-tabs--card > .el-tabs__header .el-tabs__nav,
.el-tabs--card > .el-tabs__header .el-tabs__item {
  border: none !important;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  flex: 1;
  border-bottom: 1px solid #000 !important;
  font-size: 14px !important;
}
.el-tabs--card > .el-tabs__header .el-tabs__item:hover,
.el-tabs--card > .el-tabs__header .el-tabs__item:focus {
  color: #222 !important;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border: 1px solid #000 !important;
  border-bottom: none !important;
  color: #222 !important;
}

.txt-warning {
  font-size: 14px;
  color: #de0f02;
}

.txt-message {
  font-size: 12px;
  color: #c9d0d7;
  line-height: 1.45em;
  font-weight: 300;
}

.txt-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4em;
}

.txt-secondary {
  font-size: 14px;
  color: #3472c5;
}

.txt-primary {
  color: #009dd7 !important;
}

.txt-sub {
  color: #adb5c0 !important;
}

.txt-weight-normal {
  font-weight: normal !important;
}

.ft-size-xsmall {
  font-size: 12px !important;
}

.ft-size-small {
  font-size: 14px !important;
}

.ft-size-normal {
  font-size: 16px !important;
}

.ft-size-large {
  font-size: 18px !important;
}

.ft-color-green {
  color: #1c790d;
}

.ft-color-yellow {
  color: #ffb800;
}

.ft-color-purple {
  color: #7500ac;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-flex-align-center {
  display: flex;
  align-items: center;
}

.d-flex-be-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*@import url('./var.scss');*/
html,
body {
  font-size: 14px;
  color: #222;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
}

.l-container {
  height: 100%;
  padding-top: 55px;
  padding-bottom: 73px;
  background-color: #fff;
  box-sizing: border-box;
  overflow-y: auto;
}
.l-container.bg-page {
  background-color: #eef2f6;
}
.l-container .header {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px 16px;
}
.l-container .header .global-state > div {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-left: 24px;
}
.l-container .header .global-state .icon-bluetooth button {
  background-image: url(../../assets/images/icon-blue.svg);
}
.l-container .header .global-state .icon-alram button {
  background-image: url(../../assets/images/icon-bell.svg);
}
.l-container .header .global-state .alram-count {
  right: -2px;
  top: -2px;
  position: absolute;
  background-color: #009dd7;
  width: 14px;
  height: 14px;
  border-radius: 14px;
}
.l-container .header .global-state .alram-count-num {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -50%);
  font-size: 10px;
  color: #fff;
  font-weight: 300;
}
.l-container .header .global-state .icon-menu button {
  background-image: url(../../assets/images/icon-menu.svg);
}
.l-container .header .global-state button {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}
.l-container .header .user {
  float: left;
  font-size: 0;
}
.l-container .header .user::before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.l-container .header .user-thumb {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.l-container .header .user-thumb img {
  width: 100%;
}
.l-container .header .user-info {
  display: inline-block;
  vertical-align: middle;
}
.l-container .header .user-info span {
  padding: 0 8px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}
.l-container .header .user-info .user-name {
  padding: 0 10px;
  color: #182766;
}
.l-container .header .user-info .user-addr {
  color: #ccc;
  font-weight: 400;
  position: relative;
}
.l-container .header .user-info .user-addr:before {
  content: "";
  display: inline-block;
  clear: both;
  width: 2px;
  height: 10px;
  background-color: #eee;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.l-container .header .nivigation {
  position: absolute;
  left: 16px;
  right: 16px;
}
.l-container .header .nivigation .navi-action {
  float: left;
  margin: 5px 0;
}
.l-container .header .nivigation .navi-action .prev-btn {
  width: 7px;
  height: 16px;
  background-image: url("../../assets/images/prev-arrow.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0 none;
  font-size: 0;
}
.l-container .header .nivigation .subject {
  text-align: center;
  color: #182766;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin: 11px 90px 11px 26px;
}
.l-container .header .global-state {
  float: right;
}
.l-container .service-menu {
  position: fixed;
  height: 60px;
  background-color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #eee;
  z-index: 10;
}
.l-container .service-menu ul {
  display: flex;
}
.l-container .service-menu ul li {
  align-items: center;
  width: 25%;
  height: 73px;
  position: relative;
}
.l-container .service-menu ul li.is-on button {
  color: #009dd7;
}
.l-container .service-menu ul li.is-on button i.icon-home {
  background-image: url(../../assets/images/icon-menu-home-active.svg);
}
.l-container .service-menu ul li.is-on button i.icon-start {
  background-image: url(../../assets/images/icon-menu-start-active.svg);
}
.l-container .service-menu ul li.is-on button i.icon-complet {
  background-image: url(../../assets/images/icon-menu-complet-active.svg);
}
.l-container .service-menu ul li.is-on button i.icon-search {
  background-image: url(../../assets/images/icon-menu-search-active.svg);
}
.l-container .service-menu ul li.is-on button i.icon-history {
  background-image: url(../../assets/images/icon-menu-history-active.svg);
}
.l-container .service-menu ul li button {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  color: #adb5c0;
  font-size: 11px;
  cursor: pointer;
}
.l-container .service-menu ul li button i {
  display: block;
  width: 100%;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
.l-container .service-menu ul li button i.icon-home {
  background-image: url(../../assets/images/icon-menu-home.svg);
}
.l-container .service-menu ul li button i.icon-start {
  background-image: url(../../assets/images/icon-menu-start.svg);
}
.l-container .service-menu ul li button i.icon-complet {
  background-image: url(../../assets/images/icon-menu-complet.svg);
}
.l-container .service-menu ul li button i.icon-search {
  background-image: url(../../assets/images/icon-menu-search.svg);
}
.l-container .service-menu ul li button i.icon-history {
  background-image: url(../../assets/images/icon-menu-history.svg);
}

.l-inner {
  padding: 0 16px;
}

.l-inp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 9px 0 20px;
}
.l-inp button {
  margin-left: 10px;
}

.l-search .inp-inner {
  padding-left: 43px;
}

.l-search .btn-search {
  position: absolute;
  left: 15px;
}

.l-drawer {
  position: absolute;
}
.l-drawer .el-drawer {
  padding-top: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.l-drawer .el-drawer__container {
  background-color: rgba(0, 0, 0, 0.8);
}
.l-drawer .el-drawer::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 6px;
  background-color: #adb5c0;
  border-radius: 12px;
}
.l-drawer .el-drawer__body {
  text-align: left;
}
.l-drawer .el-drawer__body .drawer-title {
  padding: 0 16px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.9px;
}
.l-drawer .el-drawer__body .btn-drag {
  margin-left: 24px;
}

.l-list {
  margin-top: 16px;
}
.l-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px 16px;
  border-top: 1px solid #eee;
}
.l-list .list-title {
  font-weight: bold;
  letter-spacing: -0.7px;
}
.l-list .el-tree-node {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px 16px;
  border-top: 1px solid #eee;
}
.l-list .el-tree-node__label {
  color: #222;
  font-weight: bold;
}
.l-list .el-tree-node__expand-icon.is-leaf {
  display: none;
}

.address-list {
  margin-top: 16px;
}
.address-list ul li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 14px 16px 16px;
  border-top: 1px solid #eee;
}
.address-list ul li .address-title {
  letter-spacing: -0.7px;
  font-weight: bold;
}
.address-list ul li .address-txt {
  line-height: normal;
}
.address-list ul li .address-desc {
  margin-top: 5px;
  color: #adb5c0;
  font-size: 12px;
}
.address-list ul li .address-btn {
  position: absolute;
  right: 16px;
}
.address-list ul li .address-btn .btn {
  padding: 0;
}
.address-list ul li .address-btn .btn:not(:first-child) {
  margin-left: 15px;
}
.address-list ul li .address-btn .btn-delete {
  position: relative;
  top: unset;
  left: unset;
}

.home {
  padding: 20px;
}
.home button {
  display: block;
  margin-bottom: 10px;
}

.landing {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/lending_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  box-sizing: border-box;
  padding: 0 30px;
}
.landing .logo {
  min-width: 160px;
  max-width: 260px;
  width: 60%;
  position: relative;
  top: 21%;
  left: 0;
}
.landing .logo img {
  width: 100%;
}
.landing .slogun {
  margin-top: 12px;
  color: #fff;
  font-size: 14px;
}
.landing .welcom-message {
  font-size: 14px;
  color: #fff;
  position: absolute;
  display: block;
  text-align: center;
  bottom: 6.5%;
  left: 0;
  right: 0;
}

.login {
  box-sizing: border-box;
}
.login-form .inp {
  height: 50px;
  margin: 9px 0 20px;
}
.login-form .inp-inner {
  padding: 15px;
}
.login-form label {
  font-weight: bold;
  color: #222;
}
.login-service {
  line-height: 50px;
}
.login-service::after {
  content: "";
  display: block;
  clear: both;
}
.login-service-check {
  float: left;
}
.login-service-detailview {
  float: right;
}
.login .btn-group {
  margin-bottom: 20px;
}
.login-header {
  height: 19vh;
  position: relative;
  margin-bottom: 40px;
}
.login-header-inner {
  position: absolute;
  bottom: 0;
}
.login-header h1 {
  margin-bottom: 18px;
}
.login-header p {
  color: #182766;
  font-size: 16px;
  font-weight: bold;
}
.login .option::after {
  content: "";
  display: block;
  clear: both;
}
.login .option .app-version {
  float: left;
  color: #adb5c0;
}
.login .option .option-service {
  float: right;
}
.login .option .option-service .text-link:not(:first-child) {
  margin-left: 20px;
}
.login .welcom-message {
  position: absolute;
  bottom: 4%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: #c9d0d7;
  font-weight: 200;
}

.join {
  background-color: #fff;
}
.join-service-check {
  margin-top: 10px;
}
.join .input-checkbox {
  background: url(../../assets/images/icon-arrow_r.svg) no-repeat right 50% / contain;
  margin-bottom: 16px;
}
.join .el-tabs--card > .el-tabs__header .el-tabs__item:not(:last-child):after {
  content: "*";
  color: #de0f02;
}
.join .txt-warning {
  float: right;
}
.join .txt-title {
  padding: 60px 0 52px;
}
.join .txt-message {
  position: fixed;
  bottom: 20%;
  left: 16px;
  right: 16px;
  text-align: center;
}
.join .bx-certificate {
  width: 100%;
  height: 200px;
  background: url(../../assets/images/bx-certificate.svg) no-repeat 50% 50% / contain;
}
.join .btn-group {
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
}
.join-complete {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-65%);
}
.join-complete .txt-title {
  padding: 10px 0;
  color: #182766;
}

.password .txt-title {
  padding-top: 16px;
}

.password .btn-group {
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
}

.dashboard {
  margin: 20px 5%;
  text-align: center;
}
.dashboard-edit {
  text-align: left;
  padding: 30px 0 20px;
}
.dashboard-edit .btn-edit {
  margin-right: 20px;
}
.dashboard .status {
  display: flex;
  justify-content: center;
}
.dashboard .status > div {
  flex: 1;
  min-width: 100px;
  height: 90px;
  background-color: #182766;
  border-radius: 9px;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  margin-left: 14px;
  margin-bottom: 10px;
}
.dashboard .status > div:first-child {
  margin-left: 0;
}
.dashboard .status > div .ea {
  width: 18px;
  height: 18px;
  background-color: #ff4258;
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
}
.dashboard .status > div .ea-num {
  display: block;
  font-size: 10px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -50%);
}
.dashboard .status > div strong {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  display: block;
}
.dashboard .status > div [class^="icon-"] {
  width: 24px;
  height: 26px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-repeat: no-repeat;
}
.dashboard .status > div .icon-start {
  background-image: url("../../assets/images/icon-dashboard-start.svg");
}
.dashboard .status > div .icon-complet {
  background-image: url("../../assets/images/icon-dashboard-complet.svg");
}
.dashboard .status > div .icon-search {
  background-image: url(../../assets/images/icon-dashboard-search.svg);
}
.dashboard .today .contents ul {
  display: flex;
  align-items: center;
}
.dashboard .today .contents li {
  margin-left: 30px;
}
.dashboard .today .contents li:first-child {
  margin-left: 0;
}
.dashboard .today .contents li ins {
  text-decoration: none;
  color: #222;
  font-size: 14px;
  font-weight: 600;
}
.dashboard .shipping-issue .contents .table-issue table {
  width: 100%;
}
.dashboard .shipping-issue .contents .table-issue tr {
  height: 46px;
}
.dashboard .shipping-issue .contents .table-issue tr:not(:first-child) {
  border-top: 1px solid #eef2f6;
}
.dashboard .shipping-issue .contents .table-issue th,
.dashboard .shipping-issue .contents .table-issue td {
  padding: 0 10px;
  vertical-align: middle;
  font-size: 14px;
  color: #222;
}
.dashboard .shipping-issue .contents .table-issue th {
  text-align: left;
  color: #555;
}
.dashboard .shipping-issue .contents .table-issue td {
  text-align: right;
}
.dashboard .shipping-issue .contents .table-issue td .data {
  font-weight: 600;
  color: #182766;
}
.dashboard .claim .card-header,
.dashboard .new .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard .claim .contents,
.dashboard .new .contents {
  text-align: left;
}
.dashboard .claim .contents li,
.dashboard .new .contents li {
  display: inline-block;
  margin-left: 30px;
}
.dashboard .claim .contents li:first-child,
.dashboard .new .contents li:first-child {
  margin-left: 0;
}
.dashboard .claim .contents li ins,
.dashboard .new .contents li ins {
  text-decoration: none;
  color: #182766;
  font-size: 14px;
  font-weight: 600;
}
.dashboard .notice .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard .notice .contents {
  text-align: left;
  color: #999;
  position: relative;
}
.dashboard .notice .contents li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  line-height: 2.5em;
  border-bottom: 1px #eaeaea solid;
  list-style-type: disc;
  list-style-position: inside;
  color: #555;
}
.dashboard .notice .contents li:last-child {
  border-bottom: 0;
}
.dashboard .notice .contents .btn-group {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.dashboard .notice .contents .btn-group button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  display: block;
  border: 0;
}
.dashboard .notice .contents .btn-group button.icon-prev::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px #828181 solid;
  border-bottom: 2px #828181 solid;
  transform: rotate(-315deg);
  position: relative;
  right: 3px;
}
.dashboard .notice .contents .btn-group button.icon-next::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px #828181 solid;
  border-bottom: 2px #828181 solid;
  transform: rotate(-135deg);
  position: relative;
  right: 3px;
}
.dashboard .life {
  display: flex;
  position: relative;
}
.dashboard .life::after {
  content: "";
  display: inline-block;
  clear: both;
  width: 1px;
  height: 100%;
  background-color: #eef2f6;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dashboard .life .card {
  width: 50%;
  border-radius: unset;
  box-shadow: unset;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}
.dashboard .life .card-header {
  margin-bottom: 10px;
}
.dashboard .life .contents > div {
  background-position: 40% 50%;
  background-repeat: no-repeat;
  height: 40px;
}
.dashboard .life .contents > div span {
  padding-left: 80px;
  position: relative;
  top: 10px;
  color: #222;
  font-size: 14px;
  font-weight: 600;
}
.dashboard .life .contents > div span.unit {
  padding-left: 0;
}
.dashboard .life .contents .weather {
  background-position: 50% 50%;
  background-image: url(../../assets/images/weather_1.svg);
}
.dashboard .life .contents .health {
  background-image: url(../../assets/images/iconhart.svg);
}
.dashboard .life .contents .health .unit {
  font-size: 12px;
}

.shipping {
  margin: 0 30px 30px;
}
.shipping .search-area {
  margin: 15px 0;
  height: 30px;
}
.shipping .search-inner {
  height: 32px;
  margin-right: 24px;
}
.shipping .select-button {
  padding: 0 8px;
  height: 32px;
  border: 0 none;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 13px;
}
.shipping .search-btn {
  width: 24px;
  height: 34px;
  background-image: url(../../assets/images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 0 none;
  float: right;
  background-color: transparent;
}
.shipping .card.list {
  padding: 20px;
  box-sizing: border-box;
}
.shipping .card.list .status::after {
  content: "";
  display: block;
  clear: both;
}
.shipping .card.list .left {
  float: left;
}
.shipping .card.list .right {
  float: right;
}
.shipping .card.list .shipping-code {
  color: #555555;
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 8px;
  position: relative;
  top: 2px;
}
.shipping .card.list .shipping-label {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  padding: 7px;
  height: 23px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 11.5px;
  font-size: 12px;
}
.shipping .card.list .shipping-label.post-payment {
  background-color: #f4bf00;
}
.shipping .card.list .shipping-label.pre-payment {
  background-color: #009dd7;
}
.shipping .card.list .distance {
  color: #009dd7;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.shipping .card.list .moer {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-image: url(../../assets/images/icon-menu.svg);
  background-position: 50% 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0 none;
}
.shipping .shipping-address {
  font-size: 18px;
  color: #182766;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  position: relative;
}
.shipping .shipping-address .address {
  display: block;
  margin-right: 24px;
}
.shipping .shipping-address .foldding-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 9px;
  background-color: transparent;
  background-image: url(../../assets/images/up-down-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
  border: 0;
}
.shipping .shipping-address .foldding-btn.on {
  transform: unset;
}
.shipping .detail {
  display: none;
  border-top: 1px solid #eaeaea;
}
.shipping .detail.is-on {
  display: block;
}
.shipping .detail .row {
  padding: 8px 0;
  font-size: 0;
}
.shipping .detail .col-6 {
  width: 50%;
  display: inline-block;
}
.shipping .detail em {
  font-size: 12px;
  color: #999;
}
.shipping .detail p {
  font-size: 16px;
  line-height: 24px;
  color: #182766;
  font-weight: 400;
}
.shipping .detail p.point-color {
  color: #009dd7;
}
.shipping .detail p.pay-color {
  color: #f4bf00;
}

.address {
  margin-top: 15px;
}
.address-list {
  margin-top: 16px;
}
.address-list ul li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 14px 16px 16px;
  border-top: 1px solid #eee;
}
.address-list ul li .address-txt {
  line-height: normal;
}
.address-list ul li .address-title {
  font-weight: bold;
}
.address-list ul li .address-desc {
  margin-top: 5px;
  color: #adb5c0;
  font-size: 12px;
}
.address-list ul li .address-btn {
  position: absolute;
  right: 16px;
}
.address-list ul li .address-btn .btn {
  padding: 0;
}
.address-list ul li .address-btn .btn:not(:first-child) {
  margin-left: 15px;
}
.address-registration {
  margin-top: 15px;
}

.delivery-start .l-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.delivery-start .l-total .btn.white + .btn {
  margin-left: 30px;
}

.delivery-start .l-delivery-address .delivery-address-desc {
  margin-top: 5px;
  letter-spacing: normal;
}

.delivery-start .el-tabs__item::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 8px;
  background-color: #009dd7;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  line-height: 18px;
  vertical-align: middle;
}

.delivery-start .el-tabs__item:nth-child(2):after {
  content: "2";
}

.delivery-start .el-tabs__item:nth-child(3)::after {
  content: "4";
}

.delivery-start .card-inner {
  min-height: 80px;
  box-sizing: border-box;
}
.delivery-start .card-inner + .card-inner {
  border-top: 1px solid #eee;
}
.delivery-start .card-inner .btn-close-pop {
  padding: 0;
  margin-right: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #adb5c0;
  color: #adb5c0;
  font-size: 12px;
}
.delivery-start .card-inner .btn-circle {
  width: 50px;
  height: 50px;
  background-color: #eef2f6;
  border-radius: 50%;
  color: #3472c5;
  font-size: 11px;
  letter-spacing: -0.55px;
}
.delivery-start .card-inner .btn-circle.blue {
  background-color: #3472c5;
  color: #eef2f6;
}

.delivery-start .btn.secondary:disabled {
  border: 1px solid #eee;
  background-color: #fff;
  color: #222;
}

.l-delivery-pop {
  position: fixed;
  bottom: 60px;
  width: 100%;
  height: 110px;
  padding: 18px 16px 14px;
  margin: 0;
  background-color: #fff;
  box-shadow: 20px 0 45px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 10;
}
.l-delivery-pop .txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 16px;
}
.l-delivery-pop .txt li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 18px;
}
.l-delivery-pop .txt li:not(:first-child) {
  border-left: 1px solid #eee;
}
.l-delivery-pop .txt .title {
  font-size: 12px;
  color: #555;
}
.l-delivery-pop .badge-circle:disabled::after {
  display: none;
}
.l-delivery-pop .badge-circle:not(:disabled):after {
  content: "2";
  margin-bottom: 2px;
}
