$font-size-xxsmall: 10px;
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-large: 18px;


$main-color: #182766;
$sub-color: #009dd7;
$secondary-color:#3472c5;
$text-link-color: $main-color;
$disabled-color: #adb5c0;
$attach-color: #c9d0d7;
$warning-color:#de0f02;
$border-color: #eee;

// text
$--color-black:#222;
$--color--white: #fff;
$--color--light-gray: #eef2f6;
