// font
$--font-size-xsmall: 0.625rem; //10
$--font-size-small: 0.75rem; //12
$--font-size-regular: 0.875rem; //14
$--font-size-medium: 0.9375rem; //15
$--font-size-default: 1rem; //16
$--font-size-large: 1.125rem; //18
$--font-size-xlarge: 1.5rem; //24
$--font-size-xxxlarge: 2.5rem; //40

// color
$--color--primary: #009dd7;
$--color--secondary: #434188;
$--color--black: #222;
$--color--white: #fff;
$--color--sub-blue: #3472c5;
$--color--border: #e8edf3;
$--color--inactive: #c1d0de;
$--color--placeholder: #c9d0d7;
$--color--txt: #555;
$--color--hover: #f5f9fe;
$--color--point: #f4bf00;
$--color--light-yellow: #ffeab6;
$--color--grey: #a7b7ce;
$--color--light-grey: #f8f8f8;
$--color--red: #de0f02;
$--color--light-red: #ffdddb;
$--color--skyblue: #f0f8fd;
$--color--light-blue: #eef2f6;
$--color--green: #39872c;
$--color--light-green: #cae7c5;
$--color--purple: #6f5be4;
$--color--light-purple: #e4ddf8;
$--color--orange: #ff7a00;
$--color--hotpink: #ff4258;
