
/*@import url('./var.scss');*/


html, body {
  font-size: $font-size-small;
  color: #5f686b;
  height: 100%;
  //min-width: 1200px; 이거 주면 UserPlayer 모바일버전 제대로 안나옴.
  overflow: auto;
}

#app {
  height: 100%;
  width: 100%;
}

