//button
.btn {
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background-color: transparent;
  vertical-align: middle;
  line-height: 1rem;
  text-align: center;
  &-group {
    .btn {
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
    &.bottom {
      position: fixed;
      left: 0;
      bottom: 16px;
      width: 100%;
      padding: 0 16px;
      box-sizing: border-box;
    }
    &.type-02 {
      display: inline-block;
      // min-width: 120px;
      // margin-right: 10px;
      border: 1px solid $--color--border;
      border-radius: 5px;
      .btn {
        &.white {
          width: 56px;
          padding: 12px 15px;
          border: none;
        }
        &:not(:first-child) {
          border-left: 1px solid $--color--border;
          margin-left: 0;
        }
        &-size-large {
          font-size: $--font-size-regular;
          letter-spacing: -0.0437rem;
          font-weight: 400;
        }
      }
    }
  }

  // size
  &-size {
    &-full {
      width: 100%;
      height: 50px;
      padding: 14px;
      font-size: $--font-size-medium;
      letter-spacing: -0.0469rem;
      font-weight: 700;
    }
    &-large {
      height: 45px;
      padding: 12px 20px;
      font-size: $--font-size-regular;
      letter-spacing: -0.0437rem;
      font-weight: 700;
    }
    &-regular {
      height: 37px;
      padding: 8px 15px;
      font-size: $--font-size-regular;
      letter-spacing: -0.0437rem;
    }
    &-small {
      height: 30px;
      padding: 6px 15px;
      font-size: $--font-size-small;
      letter-spacing: -0.0375rem;
    }
    &-xsmall {
      height: 26px;
      padding: 2px 12px;
      font-size: $--font-size-small;
      letter-spacing: -0.0375rem;
    }
  }

  // color
  &.primary {
    background-color: $--color--main;
    color: $--color--white;
  }
  &.secondary {
    background-color: $--color--sub;
    color: $--color--white;
  }
  &.point {
    background-color: $--color--point;
    color: $--color--white;
  }
  &.white {
    background-color: $--color--white;
    border: 1px solid $--color--border;
    color: $--color--black;
    &.is-active {
      color: $--color--main;
      border-color: $--color--main;
    }
    &.primary {
      color: $--color--main;
    }
  }

  &-txt {
    background-color: transparent !important;
    &.underline {
      text-decoration: underline;
    }
  }
  &-more {
    display: inline-flex;
    align-items: center;
    color: $--color--grey;
    font-size: $--font-size-regular;
    letter-spacing: -0.0437rem;
    &::after {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      margin: 2px 0 0 2px;
      background: url("../../assets/images/icon-arrow-right.svg") no-repeat center / contain;
      vertical-align: middle;
    }
  }
  &-bluetooth {
    width: 24px;
    height: 24px;
    background: url("../../assets/images/icon-bluetooth.svg") no-repeat center / contain;
  }
  &-alarm {
    width: 24px;
    height: 24px;
    position: relative;
    background: url("../../assets/images/icon-bell.svg") no-repeat center / contain;
  }
  &-menu {
    width: 24px;
    height: 24px;
    background: url("../../assets/images/icon-menu.svg") no-repeat center / contain;
  }
  &-camera {
    width: 24px;
    height: 24px;
    background: url("../../assets/images/icon-camera.svg") no-repeat 50% 50% / contain;
  }
  &-prev {
    width: 24px;
    height: 24px;
    background: url("../../assets/images/icon-arrow-left.svg") no-repeat 50% 50% / contain;
  }
  &-setting {
    width: 24px;
    height: 24px;
    background: url("../../assets/images/icon-settings.svg") no-repeat 50% 50% / contain;
  }
  &-close {
    width: 24px;
    height: 24px;
    background: url("../../assets/images/icon-close.svg") no-repeat 50% 50% / contain;
  }
  &-clock {
    width: 24px;
    height: 24px;
    background: url("../../assets/images/icon-clock.svg") no-repeat 50% 50% / contain;
  }
  &:disabled {
    border: none !important;
    background-color: $--color--inactive !important;
    color: $--color--white !important;
  }
}
