//button
.btn {
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background-color: transparent;
  vertical-align: middle;
  line-height: 1rem;
  text-align: center;
  &-group {
    &.bottom {
      position: fixed;
      left: 0;
      bottom: 16px;
      width: 100%;
      padding: 0 16px;
      box-sizing: border-box;
    }
    .btn {
      &:not(:first-child) {
        margin-left: 10px;
      }
      &.is-on {
        color: $--color--sub-blue;
      }
    }
    &.full {
      min-width: 120px;
      margin-right: 10px;
      border: 1px solid $--color--border;
      border-radius: 5px;
      .btn {
        min-width: auto;
        width: 50%;
        margin: 0;
        border: none;
        border-radius: unset;
        &:first-child {
          border-right: 1px solid $--color--border;
        }
      }
    }
  }

  // size
  &-size {
    &-full {
      width: 100%;
      height: 50px;
      padding: 14px;
      font-size: $--font-size-medium;
      letter-spacing: -0.0469rem;
      font-weight: 700;
    }
    &-large {
      height: 45px;
      padding: 12px 20px;
      font-size: $--font-size-regular;
      letter-spacing: -0.0437rem;
      font-weight: 700;
    }
    &-regular {
      height: 37px;
      padding: 8px 15px;
      font-size: $--font-size-regular;
      letter-spacing: -0.0437rem;
    }
    &-small {
      height: 30px;
      padding: 6px 15px;
      font-size: $--font-size-small;
      letter-spacing: -0.0375rem;
    }
    &-xsmall {
      height: 26px;
      padding: 2px 12px;
      font-size: $--font-size-small;
      letter-spacing: -0.0375rem;
    }
  }

  // color
  &.primary {
    background-color: $--color--primary;
    color: $--color--white;
  }
  &.secondary {
    background-color: $--color--secondary;
    color: $--color--white;
  }
  &.point {
    background-color: $--color--point;
    color: $--color--white;
  }
  &.white {
    background-color: $--color--white;
    border: 1px solid $--color--border;
    color: $--color--black;
    &.is-active {
      color: $--color--primary;
      border-color: $--color--primary;
    }
  }
  // &:focus{
  //   box-shadow: 5px 5px 15px 5px rgba(3, 161, 223, 0.15);
  // }
  &:disabled {
    background-color: $--color--inactive;
  }

  &-txt {
    // background-color: transparent !important;
    // color: $--color--secondary;
    // border-bottom: 1px solid $--color--secondary;
    // border-radius: unset;
    &.underline {
      text-decoration: underline;
    }
    // &:disabled {
    //   color: $--color--inactive;
    // }
  }
  &-more {
    display: inline-flex;
    align-items: center;
    height: 20px;
    // float: right;
    // display: block;
    // font-size: 0;
    // padding: 0 !important;
    // &::before {
    //   content: "";
    //   display: inline-block;
    //   width: 0;
    //   height: 100%;
    //   vertical-align: middle;
    //   clear: both;
    // }
    // span {
    //   display: inline-block;
    //   font-size: $--font-size-small;
    //   color: $--color--placeholder;
    //   font-weight: 400;
    //   vertical-align: middle;
    // }
    // .icon-more {
    //   display: inline-block;
    //   position: static !important;
    //   vertical-align: middle;
    // }
  }
  &-edit {
    padding: 0;
    border: none;
    border-bottom: 1px solid $--color--secondary;
    color: $--color--secondary;
    font-size: $--font-size-regular;
  }
  &-delete {
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: url(../../assets/images/btn-delete.svg) no-repeat 50% 50% / contain;
    position: absolute;
    left: -9px;
    top: -9px;
  }
  &-link {
    display: inline-block;
    height: 33px;
    padding: 0 12px;
    line-height: 33px;
    vertical-align: middle;
    text-decoration: none;
  }
  &-drag {
    width: 20px;
    height: 10px;
    border: none;
    background: url(../../assets/images/icon-drag.svg) no-repeat 50% 50% / contain;
    &.medium {
      width: 18px;
      height: 8px;
    }
  }
  &-revert {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-corner-left-active.svg) no-repeat 50% 50% / contain;
    &.small {
      width: 18px;
      height: 18px;
    }
    &:disabled {
      background-color: transparent;
      background-image: url(../../assets/images/icon-corner-left.svg);
    }
  }
  &-search {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-search.svg) no-repeat 50% 50% / contain;
    &.small {
      width: 18px;
      height: 18px;
    }
    &:disabled {
      background-color: transparent;
    }
  }
  &-plus {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-outline-plus.svg) no-repeat 50% 50% / contain;
  }
  &-camera {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-camera.svg) no-repeat 50% 50% / contain;
  }
  &-prev {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-arrow-left.svg) no-repeat 50% 50% / contain;
  }
  &-setting {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-settings.svg) no-repeat 50% 50% / contain;
  }
  &-close {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-close.svg) no-repeat 50% 50% / contain;
  }
  &-clock {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icon-clock.svg) no-repeat 50% 50% / contain;
  }
  &.is-on {
    // .icon-search {
    //   background: url(../../assets/images/icon-search-active.svg) no-repeat 50% 50% / contain;
    // }
    .icon-corner-left {
      background: url(../../assets/images/icon-corner-left-active.svg) no-repeat 50% 50% / contain;
    }
    .icon-search,
    .icon-arrow-up,
    .icon-arrow-down,
    .icon-chevrons-up,
    .icon-chevrons-down {
      filter: invert(46%) sepia(46%) saturate(6050%) hue-rotate(171deg) brightness(102%) contrast(101%);
    }
  }
  &-bookmark-add {
    width: 60px;
    height: 60px;
    border: 1px solid $--color--white;
    border-radius: 50%;
    .icon-plus {
      filter: invert(1);
    }
  }
}
