.card {
  position: relative;
  padding: 15px 54px 15px 48px;
  background-color: $--color--white;
  border: 1px solid $--color--border;
  border-radius: 5px;
  &-list {
    li {
      position: relative;
      margin-bottom: 15px;
      &.is-active {
        .card {
          border-color: $--color--main;
        }
      }
      .l-form {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
      }
      .btn-more-vertical {
        position: absolute;
        top: 15px;
        right: 15px;
        &.is-active {
          filter: invert(46%) sepia(46%) saturate(6050%) hue-rotate(171deg) brightness(102%) contrast(101%);
        }
      }
    }
  }
  &-header {
    margin-bottom: 5px;
  }
  &-content {
    display: flex;
  }
  .delivery {
    &-number {
      color: $--color--grey;
      font-size: $--font-size-small;
      margin-left: 10px;
    }
    &-time {
      flex-shrink: 0;
      color: $--color--main;
    }
    &-area {
      flex-shrink: 0;
      color: $--color--hotpink;
      margin-left: 10px;
    }
    &-address {
      max-width: 100%;
      margin-left: 10px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
