// collapse
.l-collapse {
  .el-collapse {
    border: none;
    &-item {
      &.is-active {
        border-top: 1px solid $--color--border;
      }
      &__header {
        position: absolute;
        top: 28px;
        right: 15px;
        width: 24px;
        height: 24px;
        border: none;
        .el-icon-arrow-right {
          margin: 0;
          width: 24px;
          height: 24px;
          background: url(../../assets/images/icon-more-vertical.svg) no-repeat 50% 50% / contain;
          &::before {
            display: none;
          }
        }
      }
      &__content {
        position: relative;
        padding: 15px;
      }
      .btn {
        &-close-pop {
          padding: 0;
          margin-right: 15px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $--color--grey;
          color: $--color--grey;
          font-size: $--font-size-small;
        }
        &-circle {
          width: 50px;
          height: 50px;
          background-color: $--color--light-blue;
          border-radius: 50%;
          color: $--color--blue;
          font-size: 0.6875rem;
          letter-spacing: -0.55px;
          &.blue {
            background-color: $--color--blue;
            color: $--color--light-blue;
          }
        }
      }
    }
  }
}
