.l {
  &-form {
    .el-form {
      &-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0;
        &__content {
          width: 100%;
          line-height: unset;
        }
        &__label {
          display: inline-block;
          flex-shrink: 0;
          min-width: 90px;
          color: $--color--black;
          font-size: $--font-size-regular;
          font-weight: 700;
          line-height: 1.25rem;
          letter-spacing: -0.0437rem;
          text-align: left;
        }
        &__error {
          display: inline-block;
          position: relative;
          top: 0;
          left: 0;
          padding-top: 8px;
          color: $--color--main;
          font-size: $--font-size-regular;
          letter-spacing: -0.0437rem;
          line-height: 1.125rem;
        }
        &.is-required {
          .el-form-item__label {
            &::before {
              content: "*";
              display: inline-block;
              color: $--color--main !important;
              padding-right: 0;
            }
            &::after {
              display: none;
            }
          }
        }
        &.switch {
          align-items: center;
          .el-form-item {
            &__content {
              text-align: right;
            }
          }
        }
      }
    }
    &.el-form--label-top {
      .el-form-item {
        display: flex;
        flex-wrap: wrap;
        &__label {
          padding: 0 0 8px;
        }
      }
    }
  }

  // input
  &-inp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .inp {
      display: flex;
      flex: 1;
      align-items: center;
      width: 100%;
      &-inner {
        position: relative;
        width: 100%;
        height: 45px;
        border-radius: 5px;
      }
      .el-input {
        border: 0;
        width: 100%;
        height: 100%;
        padding: 12px 15px;
        background-color: $--color--light-blue;
        border-radius: 5px;
        font-size: $--font-size-regular;
        letter-spacing: -0.0437rem;
        &::placeholder {
          color: $--color--placeholder;
        }
        &:focus {
          caret-color: $--color--sub;
          outline: none;
        }
        &__inner {
          position: relative;
          width: 100%;
          height: 100%;
          background-color: transparent;
          padding: 0;
          border: none;
          color: $--color--black;
          font-size: $--font-size-regular;
          letter-spacing: -0.0437rem;
          line-height: 1.3125rem;
          text-align: inherit;
          &::placeholder {
            color: $--color--placeholder;
          }
        }
        &--suffix {
          .el-input {
            &__inner {
              padding-right: 40px;
            }
          }
        }
        &__suffix {
          right: 15px;
          padding-top: 13px;
          span {
            color: $--color--main;
            letter-spacing: normal;
            vertical-align: middle;
          }
          .el-input {
            &__clear {
              margin-top: 2px;
              width: 18px;
              height: 18px;
              background: url("../../assets/images/icon-close-round.svg") no-repeat center center / contain;
              &::before {
                display: none;
              }
            }
          }
        }
        &-group__append,
        &-group__prepend {
          padding: 0;
          border: none;
          background-color: transparent;
          color: $--color--black;
        }
        &.is-disabled {
          background-color: $--color--inactive;
          .el-input__inner {
            background-color: transparent;
            &:disabled {
              color: $--color--black;
            }
          }
        }
      }
    }
    .btn {
      flex-shrink: 0;
      margin-left: 10px;
    }
  }

  // checkbox
  &-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    .el-checkbox {
      &__inner {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $--color--inactive;
        border-color: $--color--inactive !important;
        &::after {
          transform: rotate(45deg) scaleY(1);
          left: 5px;
          top: 3px;
          border-bottom: 2px $--color--white solid;
          border-right: 2px $--color--white solid;
        }
      }
      &__label {
        padding-left: 8px;
        color: $--color--grey;
        font-size: $--font-size-regular;
        letter-spacing: -0.0437rem;
        font-weight: 500;
        line-height: 1.25rem;
        vertical-align: middle;
      }
      &__input {
        height: 18px;
      }
      &.is-checked {
        .el-checkbox {
          &__inner {
            background-color: $--color--main;
            border-color: $--color--main !important;
          }
          &__label {
            color: $--color--main;
          }
        }
      }
    }
  }

  // radio
  &-radio {
    .el-radio {
      margin: 0;
      &__label {
        font-size: $--font-size-regular;
        vertical-align: middle;
      }
      &__input {
        height: 18px;
        &.is-checked {
          .el-radio__inner {
            background: url(../../assets/images/icon-radio-active.svg) no-repeat 50% 50% / contain;
            border-color: unset;
            border: none;
            border-radius: unset;
            &::after {
              display: none;
            }
          }
          & + .el-radio__label {
            color: $--color--main;
          }
        }
      }
      &__inner {
        width: 18px;
        height: 18px;
      }
      &-group {
        .el-radio {
          & + .el-radio {
            margin-left: 10px;
          }
        }
        &.border {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .el-radio {
            &.is-bordered {
              width: 100%;
              height: 45px;
              padding: 12px 15px;
              border: 1px solid $--color--border;
              border-radius: 5px;
              &.is-checked {
                border-color: $--color--point;
                background-color: $--color--light-yellow;
                .el-radio__inner {
                  background: url(../../assets/images/icon-radio-active-point.svg) no-repeat 50% 50% / contain;
                }
                .el-radio__label {
                  color: $--color--black;
                }
              }
            }
          }
        }
      }
    }
    &.l-list {
      border-top: 1px solid $--color--border;
      overflow-x: hidden;
      .el-radio {
        width: 100%;
        box-sizing: border-box;
        padding: 14px 16px 16px;
        border-bottom: 1px solid $--color--border;
      }
    }
  }

  // switch
  &-switch {
    .el-switch {
      &__core {
        background: #ccc;
        border-color: #ccc;
      }
      &.is-checked {
        .el-switch {
          &__core {
            background-color: $--color--main;
            border-color: $--color--main;
          }
        }
      }
    }
  }

  // select
  &-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .select {
      width: 100%;
      & + .select {
        margin-left: 10px;
      }
    }
    .el-select {
      width: 100%;
      .el-input {
        &__inner {
          height: 45px;
          background-color: $--color--light-blue;
          border: none;
          border-radius: 5px;
          color: $--color--black;
          font-size: $--font-size-regular;
          letter-spacing: -0.0437rem;
        }
        .el-select__caret {
          background: url("../../assets/images/icon-arrow-down.svg") no-repeat center center / 18px 18px;
          transform: rotateZ(0);
          &.is-reverse {
            transform: rotateZ(180deg);
            filter: invert(1);
          }
          &::before {
            display: none;
          }
        }
        &.is-focus {
          .el-input {
            &__inner {
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
        }
      }
    }
  }
}

.el-select-dropdown {
  margin: 0 !important;
  background-color: $--color--light-blue !important;
  border: none !important;
  border-radius: 5px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  box-shadow: none !important;
  overflow: hidden;
  .popper__arrow {
    display: none !important;
  }
  &__item {
    height: 45px !important;
    padding: 0 15px !important;
    border-top: 1px solid $--color--border;
    font-weight: 400 !important;
    line-height: 45px !important;
    &.selected {
      color: $--color--main;
    }
    &.hover,
    &:hover {
      background-color: $--color--light-blue !important;
    }
  }
  &__list {
    padding: 0 !important;
  }
}
.l-textarea {
  position: relative;
  // background-color: $--color--light-blue;
  padding: 12px 15px 36px;
  .input__count {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: transparent !important;
    color: $--color--placeholder;
    font-size: $--font-size-regular !important;
    letter-spacing: normal;
  }
  textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 150px;
    background-color: transparent;
    box-sizing: border-box;
    overflow-y: auto;
    border: none;
    border-radius: 5px;
    font-family: "NotoSansKR";
    font-weight: 400;
    line-height: 1.5;
    &::placeholder {
      color: $--color--placeholder;
    }
  }
}
