i {
  display: inline-block;
}
[class^="icon"] {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  &.xsmall {
    width: 14px;
    height: 14px;
  }
  &.small {
    width: 18px;
    height: 18px;
  }
  &.is-active {
    background: url("../../assets/images/icon-arrow-up-active.svg") no-repeat center / contain;
  }
}
.icon {
  &-arrow-left {
    background: url("../../assets/images/icon-arrow-left.svg") no-repeat center / contain;
  }
  &-arrow-right {
    background: url("../../assets/images/icon-arrow-right.svg") no-repeat center / contain;
  }
  &-arrow-down {
    background: url("../../assets/images/icon-arrow-down.svg") no-repeat center / contain;
  }
  &-arrow-up {
    background: url("../../assets/images/icon-arrow-up.svg") no-repeat center / contain;
  }

  //
  &-chevrons-up {
    background: url("../../assets/images/icon-chevrons-down.svg") no-repeat center / contain;
    transform: rotate(180deg);
  }
  &-chevrons-down {
    background: url("../../assets/images/icon-chevrons-down.svg") no-repeat center / contain;
  }
  // &-more-vertical {
  //   background: url("../../assets/images/icon-more-vertical.svg") no-repeat center / contain;
  // }
  &-plus {
    background: url("../../assets/images/icon-plus.svg") no-repeat center / contain;
  }
  &-minus {
    background: url("../../assets/images/icon-minus.svg") no-repeat center / contain;
  }
}
