.l-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .el-slider {
    min-width: 150px;
    width: 100%;
    &__runway {
      margin: 0;
      background-color: #e5e5e5;
    }
    &__bar {
      background-color: $--color--point;
    }
    &__button {
      border: 2px solid $--color--point;
    }
  }
  .slider {
    display: flex;
    align-items: center;
    width: 100%;
    &-title {
      min-width: 100px;
      flex-shrink: 0;
      color: $--color--contents;
      font-size: $--font-size-regular;
      letter-spacing: -0.0437rem;
      line-height: 1.3125rem;
    }
    &-value {
      margin-left: 10px;
    }
  }
}
