.l-tab {
  height: 100%;
  .el-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__header {
      margin-bottom: 30px;
    }
    &__content {
      height: 100%;
      padding: 0 16px;
      .el-tab-pane {
        height: 100%;
      }
    }
    &__item {
      height: 42px;
      padding: 0 16px !important;
      color: $--color--black;
      font-size: $--font-size-regular;
      letter-spacing: -0.0469rem;
      font-weight: 600;
      line-height: 42px;
      &:hover,
      &.is-active {
        color: $--color--main;
      }
    }
    &__active-bar {
      padding: 0 16px;
      margin-left: -16px;
      box-sizing: content-box;
      background-color: $--color--main;
    }
    &__nav-wrap {
      &::after {
        height: 1px;
        background-color: $--color--border;
      }
    }
    &--card {
      .el-tabs {
        &__header {
          padding-left: 16px;
          border-bottom: none;
          .el-tabs {
            &__nav {
              border: none;
              transform: none !important;
              &-wrap {
                &.is-scrollable {
                  padding: 0;
                }
              }
              &-scroll {
                overflow-x: auto;
              }
              &-next,
              &-prev {
                display: none;
              }
            }
            &__item {
              height: 45px;
              padding: 14px 10px !important;
              margin-right: 10px;
              background-color: $--color--tab-card;
              border: none !important;
              border-radius: 5px;
              font-size: $--font-size-small;
              line-height: 18px;
              .number {
                color: $--color--main;
                margin-left: 10px;
              }
              &.is-active {
                background-color: $--color--main;
                box-shadow: 5px 5px 15px 5px rgba(3, 161, 223, 0.1);
                .time,
                .number {
                  color: $--color--white;
                }
              }
            }
          }
        }
      }
    }
  }
}
