.l-tab {
  height: 100%;
  .el-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__header {
      margin-bottom: 30px;
    }
    &__content {
      height: 100%;
      padding: 0 16px;
      overflow-y: auto;
      .bg-light-skyblue {
        margin-left: -16px;
        margin-right: -16px;
      }
    }
    &__item {
      height: 42px;
      padding: 0 16px !important;
      color: $--color--black;
      font-size: $--font-size-regular;
      letter-spacing: -0.0469rem;
      font-weight: 600;
      line-height: 42px;
      &:hover,
      &.is-active {
        color: $--color--primary;
      }
    }
    &__active-bar {
      padding: 0 16px;
      margin-left: -16px;
      box-sizing: content-box;
      background-color: $--color--primary;
    }
    &__nav-wrap {
      &::after {
        height: 1px;
        background-color: $--color--border;
      }
    }

    &--card {
      > .el-tabs__header {
        border-bottom: none;
        .el-tabs {
          &__nav {
            display: flex;
            border: none;
          }
          &__item {
            height: 34px;
            // background-color: $--color--light-grey;
            border: 1px solid $--color--border;
            border-bottom-color: $--color--border;
            color: $--color--black;
            font-size: $--font-size-xsmall;
            letter-spacing: -0.0375rem;
            font-weight: 500 !important;
            text-align: center;
            line-height: 34px;
            &.is-active {
              // background-color: $--color--light-skyblue;
              border: 1px solid $--color--primary;
              color: $--color--primary !important;
            }
            &:first-child {
              margin-right: 8px;
            }
          }
        }
      }
      > .el-tabs__content {
        padding: 20px 15px;
        border: 1px solid $--color--border;
      }
    }
    &.type-02 {
      .el-tabs {
        &__header {
          margin-bottom: 0;
        }
      }
    }
  }
}

// //tab
// .el-tabs {
//   &__nav {
//     // display: flex;
//     // width: 100%;
//     // transform:translateX(16px) !important;
//     &-wrap {
//       &:after {
//         background-color: $--color--border !important;
//       }
//     }
//   }
//   &__item {
//     width: 100%;
//     // font-size:$--font-size-large !important;
//     font-weight: bold !important;
//     text-align: center;
//     &.is-active {
//       color: #222 !important;
//     }
//   }
//   &__active-bar {
//     background-color: $--color--primary !important;
//     padding: 0 5px !important;
//     // left:-3.8px !important;
//   }
//   &__content {
//     padding-top: 15px;
//   }
//   &--card {
//     & > .el-tabs__header {
//       text-align: center;
//       border-bottom: none !important;
//       transform: translateX(16px) !important;
//       .el-tabs__nav {
//         display: flex;
//       }
//       width: calc(100% - 32px) !important;
//       .el-tabs__nav,
//       .el-tabs__item {
//         border: none !important;
//       }
//       .el-tabs__item {
//         flex: 1;
//         border-bottom: 1px solid #000 !important;
//         font-size: $--font-size-regular !important;
//         &:hover,
//         &:focus {
//           color: $--color--black !important;
//         }
//         &.is-active {
//           border: 1px solid #000 !important;
//           border-bottom: none !important;
//           color: $--color--black !important;
//         }
//       }
//     }
//   }
// }
