//tab
.el-tabs {
  &__nav {
    display: flex;
    width: 100%;
    // transform:translateX(16px) !important;
    &-wrap {
      &:after {
        background-color: $--color--border !important;
      }
    }
  }
  &__item {
    width: 100%;
    // font-size:$--font-size-xlarge !important;
    font-weight: bold !important;
    text-align: center;
    &.is-active {
      color: #222 !important;
    }
  }
  &__active-bar {
    background-color: $--color--primary !important;
    padding: 0 5px !important;
    // left:-3.8px !important;
  }
  &__content {
    padding-top: 15px;
  }
  &--card {
    & > .el-tabs__header {
      text-align: center;
      border-bottom: none !important;
      transform: translateX(16px) !important;
      .el-tabs__nav {
        display: flex;
      }
      width: calc(100% - 32px) !important;
      .el-tabs__nav,
      .el-tabs__item {
        border: none !important;
      }
      .el-tabs__item {
        flex: 1;
        border-bottom: 1px solid #000 !important;
        font-size: $--font-size-regular !important;
        &:hover,
        &:focus {
          color: $--color--black !important;
        }
        &.is-active {
          border: 1px solid #000 !important;
          border-bottom: none !important;
          color: $--color--black !important;
        }
      }
    }
  }
}
