.l-table {
  border-top: 1px solid #000;
  table {
    width: 100%;
    text-align: center;
    font-size: $--font-size-small;
    line-height: 18px;
    th {
      padding: 10px 0 !important;
      border-bottom: 1px solid $--color--border;
      background-color: $--color--light-blue !important;
      color: $--color--grey;
      font-weight: 700;
      vertical-align: middle;
    }
    td {
      position: relative;
      padding: 10px 0 !important;
      background-color: $--color--white !important;
      border-bottom: 1px solid $--color--border;
      color: $--color--contents;
      vertical-align: middle;
    }
  }
  &.row2 {
    table {
      th {
        &:nth-child(2) {
          border-right: 1px solid $--color--border;
        }
      }
      td {
        &:nth-child(2) {
          border-right: 1px solid $--color--border;
        }
        &.is-btn {
          text-align: right;
          .btn-size-small {
            width: 80px;
          }
        }
      }
    }
  }
  .el-table {
    &__cell {
      border-bottom: 1px solid $--color--border !important;
    }
    .cell {
      line-height: 18px;
    }
  }

  //
  &-time {
    padding: 0 16px;
    table {
      border-top: 1px solid #000;
      tr {
        th,
        td {
          padding: 15px 16px;
          font-size: $--font-size-regular;
          vertical-align: middle;
          span {
            line-height: 21px;
          }
        }
        th {
          border-bottom: 1px solid $--color--white;
          background-color: $--color--blue;
          color: $--color--white;
          font-weight: 700;
          span {
            &:not(:first-child) {
              display: inline-block;
              margin-top: 10px;
            }
          }
        }
        td {
          border-bottom: 1px solid $--color--border;
          &:not(:last-child) {
            border-right: 1px solid $--color--border;
          }
          .btn-drag.medium {
            margin-left: 15px;
          }
        }
        &.is-on {
          td {
            background-color: $--color--hover;
          }
        }
        &.is-drag {
          border: 2px solid $--color--main;
        }
        &.disabled {
          th {
            background-color: $--color--grey;
          }
          td {
            background-color: $--color--light-blue;
          }
        }
      }
    }
  }
}
