.address {
  padding-top: 15px;
  box-sizing: border-box;
  &-list {
    ul {
      li {
        display: flex;
        align-items: center;
        position: relative;
        padding: 14px 16px 16px;
        border-top: 1px solid $--color--border;
        &:first-child,
        &:last-child {
          border: none;
        }
        .address {
          &-title {
            letter-spacing: -0.7px;
            font-weight: bold;
          }
          &-txt {
            line-height: normal;
          }
          &-desc {
            margin-top: 5px;
            color: $--color--gray;
            font-size: $--font-size-small;
          }
          &-btn {
            position: absolute;
            right: 16px;
            .btn {
              padding: 0;
              &:not(:first-child) {
                margin-left: 15px;
              }
              &-delete {
                position: relative;
                top: unset;
                left: unset;
              }
            }
          }
        }
      }
    }
  }
  &-registration {
    margin-top: 15px;
  }
}
