.delivery {
  &-start {
    height: 100%;
    .l {
      &-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        .btn.white {
          & + .btn {
            margin-left: 30px;
          }
        }
      }
      &-scroll-list {
        height: calc(100% - 48px);
        overflow-y: auto;
      }
      &-delivery-address {
        .delivery-address {
          &-desc {
            margin-top: 5px;
            letter-spacing: normal;
          }
        }
      }
      &-collapse {
        .el-collapse {
          border: none;
          &-item {
            &.is-active {
              border-top: 1px solid $border-color;
            }
            &__header {
              position: absolute;
              top: 28px;
              right: 15px;
              width: 24px;
              height: 24px;
              border: none;
              .el-icon-arrow-right {
                margin: 0;
                width: 24px;
                height: 24px;
                background: url(../../assets/images/icon-more-vertical.svg) no-repeat 50% 50%/ contain;
                &::before {
                  display: none;
                }
              }
            }
            &__content {
              position: relative;
              padding: 15px;
            }
            .btn {
              &-close-pop {
                padding: 0;
                margin-right: 15px;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $disabled-color;
                color: $disabled-color;
                font-size: $font-size-xsmall;
              }
              &-circle {
                width: 50px;
                height: 50px;
                background-color: $--color--light-gray;
                border-radius: 50%;
                color: $secondary-color;
                font-size: 11px;
                letter-spacing: -0.55px;
                &.blue {
                  background-color: $secondary-color;
                  color: $--color--light-gray;
                }
              }
            }
          }
        }
      }
      &-scan-before {
        position: relative;
        width: 100%;
        height: calc(100% - 48px);
        background-color: $--color--white;
        line-height: normal;
        text-align: center;
        .txt-sub {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
      }
    }
    .el-tabs {
      height: calc(100% - 110px);
      .el-tab-pane {
        height: 100%;
        .l-inner {
          height: 100%;
        }
      }
      &__item {
        height: 45px;
        &::after {
          content: '';
          display: inline-block;
          width: 18px;
          height: 18px;
          margin-left: 8px;
          background-color: $sub-color;
          border-radius: 50%;
          color: $--color--white;
          font-size: $font-size-xxsmall;
          font-weight: bold;
          line-height: 18px;
          text-align: center;
          vertical-align: middle;
        }
        &:nth-child(2):after {
          content: '2';
        }
        &:nth-child(3)::after {
          content: '4';
        }
      }
      &__content {
        height: calc(100% - 60px);
        box-sizing: border-box;
      }
    }
    .card {
      &-inner {
        min-height: 80px;
        box-sizing: border-box;
      }
    }
    .btn {
      &.secondary {
        &:disabled {
          border: 1px solid $border-color;
          background-color: $--color--white;
          color: $--color-black;
        }
      }
    }
  }
}

.l-delivery-pop {
  position: fixed;
  bottom: 60px;
  width: 100%;
  height: 110px;
  padding: 18px 16px 14px;
  margin: 0;
  background-color: $--color--white;
  box-shadow: 20px 0 45px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 10;
  .txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 16px;
    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 18px;
      &:not(:first-child) {
        border-left: 1px solid $border-color;
      }
    }
    .title {
      font-size: $font-size-xsmall;
      color: #555;
    }
  }
  .badge-circle {
    &:disabled::after {
      display: none;
    }
    &:not(:disabled):after {
      content: '2';
      margin-bottom: 2px;
    }
  }
}

.el-dialog-full {
  .content {
    .ft-size-xxlarge {
      font-weight: 900;
      line-height: 59px;
    }
    .l {
      &-badge {
        padding: 50px 0 22px;
      }
      &-list-line {
        border-top: 2px solid #000;
        ul li {
          padding: 18px 0;
          &:not(:last-child) {
            border-bottom: 1px dashed #000;
          }
          > div {
            &:not(:first-child) {
              margin-top: 15px;
            }
          }
          .title {
            width: 77px;
            font-weight: bold;
            line-height: 21px;
          }
          .desc {
            max-width: calc(100% - 77px);
            color: $--color--gray;
            text-align: right;
            line-height: 21px;
          }
        }
      }
    }
  }
}