.delivery {
  &-start {
    height: 100%;
    .l {
      &-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        .btn.white {
          & + .btn {
            margin-left: 30px;
          }
        }
      }
      &-delivery-address {
        .delivery-address {
          &-desc {
            margin-top: 5px;
            letter-spacing: normal;
          }
        }
      }
      &-scan-before {
        position: relative;
        width: 100%;
        height: calc(100% - 48px);
        background-color: $--color--white;
        line-height: normal;
        text-align: center;
        .txt-sub {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
      }
    }
    .el-tabs {
      height: calc(100% - 110px);
      .el-tab-pane {
        height: 100%;
        .l-inner {
          height: 100%;
        }
      }
      &__item {
        height: 45px;
        &::after {
          content: "";
          display: inline-block;
          width: 18px;
          height: 18px;
          margin-left: 8px;
          background-color: $sub-color;
          border-radius: 50%;
          color: $--color--white;
          font-size: $font-size-xxsmall;
          font-weight: bold;
          line-height: 18px;
          text-align: center;
          vertical-align: middle;
        }
        &:nth-child(2):after {
          content: "2";
        }
        &:nth-child(3)::after {
          content: "4";
        }
      }
      &__content {
        height: calc(100% - 60px);
        box-sizing: border-box;
      }
    }
    .card {
      &-inner {
        min-height: 80px;
        box-sizing: border-box;
      }
    }
    .btn {
      &.secondary {
        &:disabled {
          border: 1px solid $border-color;
          background-color: $--color--white;
          color: $--color--black;
        }
      }
    }
  }
  &-processing {
    height: calc(100% - 128px);
    padding-top: 15px;
    box-sizing: border-box;
    .l {
      &-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        .btn.white {
          & + .btn {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

.el-dialog-full {
  .content {
    .ft-size-xxlarge {
      font-weight: 900;
      line-height: 59px;
    }
    .l {
      &-badge {
        padding: 50px 0 22px;
      }
      &-list-line {
        border-top: 2px solid #000;
        ul li {
          padding: 18px 0;
          letter-spacing: -0.7px;
          &:not(:last-child) {
            background-image: linear-gradient(to right, black 50%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 10px 1px;
            background-repeat: repeat-x;
          }
          > div {
            &:not(:first-child) {
              margin-top: 15px;
            }
          }
          .title {
            width: 77px;
            font-weight: bold;
            line-height: 21px;
          }
          .desc {
            max-width: calc(100% - 77px);
            color: $--color--gray;
            text-align: right;
            line-height: 21px;
          }
        }
      }
    }
  }
}
.l {
  &-delivery-bottom {
    position: fixed;
    bottom: 60px;
    width: 100%;
    height: 110px;
    padding: 18px 16px 14px;
    margin: 0;
    background-color: $--color--white;
    box-shadow: 20px 0 45px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 10;
    .txt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px 16px;
      li {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 18px;
        &:not(:first-child) {
          border-left: 1px solid $border-color;
        }
      }
      .title {
        font-size: $font-size-xsmall;
        color: #555;
      }
    }
    .badge-circle {
      &:disabled::after {
        display: none;
      }
      &:not(:disabled):after {
        content: "2";
        margin-bottom: 2px;
      }
    }
    &.processing {
      height: 128px;
      padding: 15px 16px;
      .btn-group {
        display: flex;
        width: 100%;
        border-radius: 5px;
        &:first-child {
          margin-right: 8px;
          background-color: $disabled-color;
        }
        &:last-child {
          background-color: $sub-color;
        }
        &-wrap {
          display: flex;
          justify-content: space-between;
          margin-top: 8px;
        }
        .btn {
          position: relative;
          padding: 12px;
          margin: 0;
          color: $--color--white;
          &:nth-child(2)::before {
            content: "";
            display: inline-block;
            width: 1px;
            height: 10px;
            position: absolute;
            top: 18px;
            left: 0;
            background-color: $border-color;
          }
        }
      }
    }
  }
  &-departure-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    padding: 15px 16px;
    box-sizing: border-box;
    box-shadow: 20px 0 45px 10px rgba(0, 0, 0, 0.1);
    background-color: $--color--white;
    z-index: 11;
    .btn {
      &.full-size {
        padding: 0;
      }
      &.yellow {
        flex: 1;
      }
    }
    &.is-order {
      height: 135px;
      padding-top: 75px;
    }
  }
  &-delivery-order {
    .el-drawer__body {
      padding-bottom: 75px;
    }
    .l-fixed {
      .card.type-02 {
        padding: 10px 15px;
        margin-bottom: 30px;
        .inp {
          margin-left: 86px;
        }
      }
    }
  }
  &-delivery-time {
    .time-list {
      height: 185px;
      overflow-y: auto;
      li {
        padding: 8px;
        color: $disabled-color;
        text-align: center;
        &:not(:last-child) {
          border-bottom: 1px solid $border-color;
        }
        &.is-on {
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
          color: $--color--black;
          font-weight: 700;
        }
      }
    }
  }
  &-order-layer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 15px 16px;
    .btn {
      min-width: 34px;
      height: 45px;
      padding: 8px;
      margin-right: 10px;
    }
    .el-input {
      &__inner {
        height: 45px;
      }
    }
  }
  &-map {
    .icon-pin {
      position: relative;
      top: 50px;
      left: 50px;
      padding-top: 10px;
      color: $--color--white;
      text-align: center;
      &.is-on {
        top: 100px;
        left: 100px;
      }
      span {
        display: inline-block;
        position: absolute;
        top: -14px;
        left: 0;
        min-width: 100%;
      }
    }
  }
  &-delivery-none {
    width: 100%;
    height: 100%;
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $attach-color;
    }
  }
  &-delivery-detail {
    .card {
      margin: 30px 0 20px;
      background-color: #f3f9f2;
      border: 1px solid #cae6c5;
      box-shadow: none;
      &-inner {
        padding-bottom: 0;
        .desc {
          padding: 10px 0 16px;
          border-bottom: 1px solid #cae6c5;
          font-size: $font-size-xsmall;
        }
      }
      .btn {
        position: relative;
        width: 100%;
        margin: 0;
        height: 18px;
        &:not(:first-child) {
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: inline-block;
            width: 1px;
            height: 10px;
            background-color: #cae6c5;
          }
        }
        &-group {
          display: flex;
          padding: 8px 0 9px;
          box-sizing: border-box;
        }
      }
    }
    &.pickup {
      .card {
        background-color: #fffbef;
        border: 1px solid #ffe5a0;
        &-inner {
          .desc {
            border-bottom: 1px solid #ffe5a0;
          }
        }
        .btn {
          &:not(:first-child)::before {
            background-color: #ffe5a0;
          }
        }
      }
    }
  }
  &-delivery-complete {
    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      margin: 15px 0 30px;
      border: 1px solid $border-color;
    }
    .l-radio {
      height: calc(100% - 220px);
      .el-radio {
        padding: 16px;
        &.is-checked {
          background-color: $bg-card;
        }
        &__input {
          margin-top: -2px;
        }
        &__label {
          display: inline-block;
          width: 100%;
          padding-right: 16px;
          box-sizing: border-box;
          .d-iflex-be-center {
            width: 100%;
            .l-photo {
              img {
                width: 50px;
                height: 33px;
                margin-right: 10px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
}

.delivery {
  &-list {
    .input-checkbox {
      position: relative;
    }
    .card-list {
      position: relative;
      width: 100%;
      min-height: 80px;
      margin-bottom: 15px;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: $--color--white;
      &.is-drag {
        li {
          border: 2px solid $sub-color;
        }
      }
      li {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 15px 35px 15px 15px;
        background-color: $--color--white;
        border: 1px solid $border-color;
        border-radius: 5px;
        box-sizing: border-box;
        letter-spacing: -0.7px;
        z-index: 1;
        &:not(:first-child) {
          margin-top: 10px;
        }
        .delivery-txt {
          width: 100%;
        }
      }
      &-group {
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 10px;
          display: block;
          width: 100%;
          height: 80px;
          border-radius: 4px;
          background-color: #d7dde5;
        }
        &::after {
          top: 5px;
          background-color: $--color--pale-gray;
        }
        &.is-on {
          &::before,
          &::after {
            display: none;
          }
        }
        .l-card-layer {
          padding: 0;
          border: none;
          ul {
            width: 100%;
            li {
              background-color: $bg-card;
              border: none;
              .btn-drag {
                display: none;
              }
            }
          }
        }
      }
    }
    .txt-sub {
      .txt-primary {
        padding-left: 4px;
      }
    }
  }
  &-desc {
    margin-top: 5px;
    span {
      vertical-align: middle;
      &.badge-circle-secondary {
        margin: 0 10px 0 5px;
      }
    }
  }
  &-btn {
    position: absolute;
    right: 16px;
  }
}
