.join{
    background-color:#fff;

    &-form{
        // padding-top: 15px;
    }
    &-service-check{
        margin-top:10px;
    }
    .input-checkbox{
        background: url(../../assets/images/icon-arrow_r.svg) no-repeat right 50%/ contain;
        margin-bottom:16px;
    }
    .el-tabs--card>.el-tabs__header .el-tabs__item:not(:last-child){
        &:after{
            content: "*";
            color:$warning-color;
        }
    }
    .txt{
        &-warning{
            float:right;
        }
        &-title{
            padding:60px 0 52px;
        }
        &-message{
            position:fixed;
            bottom:20%;
            left:16px;
            right:16px;
            text-align: center;

        }
    }
    .bx-certificate{
        width:100%;
        height:200px;
        background: url(../../assets/images/bx-certificate.svg) no-repeat 50% 50%/contain;
    }
    .btn-group{
        position:fixed;
        bottom:16px;
        left:16px;
        right:16px;
    }
    &-complete{
        text-align: center;
        position:fixed;
        top:50%;
        left:0;
        right:0;
        transform: translateY(-65%);
        .txt-title{
            padding:10px 0;
            color:$main-color;
        }
    }
}