.l-login {
  padding: 0 16px;
}
.login {
  font-size: $--font-size-regular;
  letter-spacing: -0.7px;
  &-header {
    height: 22vh;
    position: relative;
    margin-bottom: 40px;
    &-inner {
      position: absolute;
      bottom: 0;
    }
    h1 {
      margin-bottom: 18px;
    }
  }
  &-terms {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &-btn-group {
    margin-bottom: 20px;
  }
  &-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
