.message {
  &-record {
    .message {
      &-list {
        ul {
          li {
            display: flex;
            align-items: center;
            padding: 14px 16px 16px;
            border: 1px solid $--color--border;
            box-sizing: border-box;
            line-height: 21px;
            &:first-child,
            &:last-child {
              border: none;
            }
            .message {
              &-desc {
                max-width: 100%;
                // padding: 14px 16px 16px;
                box-sizing: border-box;
              }
              &-number {
                font-weight: 700;
              }
              &-msg {
                width: 100%;
                margin-top: 5px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: $--color--txt;
              }
            }
            &.is-select {
              .message {
                &-desc {
                  max-width: calc(100% - 26px);
                }
              }
            }
          }
        }
      }
    }
  }
}
.call {
  .card {
    &-inner {
      box-sizing: border-box;
      .l-call-list {
        margin-left: 15px;
        .ft-weight-bold {
          line-height: 21px;
          letter-spacing: normal;
        }
        .txt-sub {
          line-height: 18px;
        }
      }
    }
  }
}

.l {
  &-drawer-msg-send {
    .l {
      &-inp {
        margin: 0;
        padding: 16px;
        border-bottom: 1px solid $--color--border;
        .inp.white {
          height: 24px;
        }
      }
    }
    & + .l-dialog {
      .el-dialog {
        &__headerbtn {
          width: 24px;
          height: 24px;
        }
        &__close {
          width: 24px;
          height: 24px;
          background: url(../../assets/images/icon-arrow-left.svg) no-repeat 50% 50% / contain;
          vertical-align: middle;
        }
      }
    }
  }
  &-msg-form {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $--color--border;
    .l-inp {
      margin: 0;
    }
  }
}
