.shipping {
  margin: 0 30px 30px;

  .search-area {
    margin: 15px 0;
    height: 30px;
  }

  .search-inner {
    height: 32px;
    margin-right: 24px;
  }

  .select-button {
    padding: 0 8px;
    height: 32px;
    border: 0 none;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 13px;
  }

  .search-btn {
    width: 24px;
    height: 34px;
    background-image: url(../../assets/images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 0 none;
    float: right;
    background-color: transparent;
  }
  .card.list {
    padding: 20px;
    box-sizing: border-box;

    .status::after {
      content: "";
      display: block;
      clear: both;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }
    .shipping {
      &-code {
        color: $--color--txt;
        font-size: $--font-size-large;
        vertical-align: middle;
        display: inline-block;
        margin-left: 8px;
        position: relative;
        top: 2px;
      }
      &-label {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        padding: 7px;
        height: 23px;
        align-items: center;
        box-sizing: border-box;
        border-radius: 11.5px;
        font-size: $--font-size-small;
        &.post-payment {
          background-color: $--color--point;
        }
        &.pre-payment {
          background-color: $--color--primary;
        }
      }
    }
    .distance {
      color: $--color--primary;
      font-size: $--font-size-regular;
      display: inline-block;
      vertical-align: middle;
    }
    .moer {
      width: 25px;
      height: 25px;
      vertical-align: middle;
      background-image: url(../../assets/images/icon-menu.svg);
      background-position: 50% 50%;
      background-color: transparent;
      background-repeat: no-repeat;
      border: 0 none;
    }
  }
  .shipping-address {
    font-size: $--font-size-xlarge;
    color: $--color--secondary;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    position: relative;

    .address {
      display: block;
      margin-right: 24px;
    }

    .foldding-btn {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 0;
      top: 9px;
      background-color: transparent;
      background-image: url(../../assets/images/up-down-arrow.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transform: rotate(180deg);
      border: 0;
      &.on {
        transform: unset;
      }
    }
  }
  .detail {
    display: none;
    border-top: 1px solid #eaeaea;
    &.is-on {
      display: block;
    }
    .row {
      padding: 8px 0;
      font-size: 0;
    }
    .col-6 {
      width: 50%;
      display: inline-block;
    }
    em {
      font-size: $--font-size-small;
      color: #999;
    }
    p {
      font-size: $--font-size-large;
      line-height: 24px;
      color: $--color--secondary;
      font-weight: 400;
      &.point-color {
        color: $--color--primary;
      }
      &.pay-color {
        color: $--color--point;
      }
    }
  }
}
