.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  z-index: 99;
  background-color: $--color--white;
  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 13px 16px;
    .user {
      display: flex;
      align-items: center;
      &-info {
        font-weight: 700;
      }
      &-name {
        margin-left: 10px;
      }
      &-company {
        position: relative;
        margin-left: 10px;
        padding-left: 8px;
        color: $--color--grey2;
        &::before {
          content: "";
          position: absolute;
          top: 6px;
          left: 0;
          width: 2px;
          height: 10px;
          background-color: $--color--border;
        }
      }
    }
    .navi {
      display: flex;
      align-items: center;
      .btn-prev {
        font-size: 0;
      }
      &-title {
        margin-left: 10px;
      }
    }
    .global-state {
      display: flex;
      align-items: center;
      .btn {
        width: 24px;
        height: 24px;
        &:not(:first-child) {
          margin-left: 24px;
        }
      }
      .alram-count-num {
        position: absolute;
        right: -2px;
        top: -2px;
        width: 14px;
        height: 14px;
        font-size: $--font-size-xsmall;
        line-height: 14px;
        font-weight: 300;
      }
    }
  }
}
