.l {
  &-service {
    height: 100%;
    padding-top: 56px;
    padding-bottom: 60px;
    background-color: $--color--white;
    box-sizing: border-box;
    overflow-y: auto;
    &.bg-page {
      background-color: #eef2f6;
    }
    &.focus-out {
      padding-bottom: 0;
      .service-menu {
        display: none;
      }
      .l-delivery-bottom {
        position: absolute;
        bottom: 0;
      }
      .btn-floating {
        bottom: 16px;
      }
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 56px;
      padding: 16px;
      box-sizing: border-box;
      background-color: $--color--white;
      .global-state {
        display: flex;
        align-items: center;
        .btn {
          width: 24px;
          height: 24px;
          &-bluetooth {
            background: url(../../assets/images/icon-blue.svg) no-repeat 50% 50% / contain;
          }
          &-alarm {
            position: relative;
            width: 26px;
            height: 26px;
            margin: 0 24px;
            background: url(../../assets/images/icon-bell.svg) no-repeat 50% 50% / contain;
          }
          &-menu {
            background: url(../../assets/images/icon-menu.svg) no-repeat 50% 50% / contain;
          }
        }
        .alram-count-num {
          position: absolute;
          right: -2px;
          top: -2px;
          width: 14px;
          height: 14px;
          font-size: $font-size-xxsmall;
          line-height: 14px;
          font-weight: 300;
        }
      }
      .user {
        display: flex;
        align-items: center;
        font-size: 0;
        &-thumb {
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          overflow: hidden;
          vertical-align: middle;
          img {
            width: 100%;
          }
        }
        &-info {
          display: inline-block;
          vertical-align: middle;
          span {
            padding: 0 8px;
            display: inline-block;
            font-size: $font-size-small;
            font-weight: 600;
          }
          .user-name {
            padding: 0 10px;
            color: $--color--black;
          }
          .user-addr {
            color: #ccc;
            font-weight: 400;
            position: relative;
            &:before {
              content: "";
              display: inline-block;
              clear: both;
              width: 2px;
              height: 10px;
              background-color: #eee;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
      .nivigation {
        display: flex;
        align-items: center;
        .navi-action {
          text-align: center;
          .btn-prev {
            width: 24px;
            height: 24px;
            background: url(../../assets/images/icon-arrow-left.svg) no-repeat 50% 50% / contain;
            border: 0 none;
            font-size: 0;
          }
        }
        .subject {
          padding-left: 10px;
          color: $--color--black;
          font-size: $font-size-large;
          font-weight: 700;
          letter-spacing: -0.9px;
        }
      }
    }
    .service-menu {
      position: fixed;
      height: 60px;
      background-color: $--color--white;
      width: 100%;
      bottom: 0;
      left: 0;
      border-top: 1px solid $border-color;
      z-index: 10;
      ul {
        display: flex;
        li {
          align-items: center;
          width: 25%;
          height: 73px;
          position: relative;
          &.is-on {
            button {
              color: $sub-color;
              i {
                &.icon-home {
                  background-image: url(../../assets/images/icon-menu-home-active.svg);
                }
                &.icon-start {
                  background-image: url(../../assets/images/icon-menu-start-active.svg);
                }
                &.icon-complet {
                  background-image: url(../../assets/images/icon-menu-complet-active.svg);
                }
                &.icon-search {
                  background-image: url(../../assets/images/icon-menu-search-active.svg);
                }
                &.icon-history {
                  background-image: url(../../assets/images/icon-menu-history-active.svg);
                }
              }
            }
          }
          button {
            width: 100%;
            height: 100%;
            border: 0;
            background-color: transparent;
            color: $disabled-color;
            font-size: 0.6875rem;
            cursor: pointer;
            i {
              display: block;
              width: 100%;
              height: 24px;
              background-repeat: no-repeat;
              background-position: center center;
              &.icon-home {
                background-image: url(../../assets/images/icon-menu-home.svg);
              }
              &.icon-start {
                background-image: url(../../assets/images/icon-menu-start.svg);
              }
              &.icon-complet {
                background-image: url(../../assets/images/icon-menu-complet.svg);
              }
              &.icon-search {
                background-image: url(../../assets/images/icon-menu-search.svg);
              }
              &.icon-history {
                background-image: url(../../assets/images/icon-menu-history.svg);
              }
            }
          }
        }
      }
    }
  }
  &-inner {
    padding: 0 16px;
  }
  &-inp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 9px 0 20px;
    button {
      margin-left: 10px;
    }
    &.l-search {
      margin: 15px 0 15px;
    }
  }
  &-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .select {
      margin-right: 10px;
    }
  }
  &-radio {
    border-top: 1px solid $border-color;
    overflow-x: hidden;
    &.l-list {
      .el-radio {
        width: 100%;
        box-sizing: border-box;
        padding: 14px 16px 16px;
        border-bottom: 1px solid $border-color;
      }
    }
  }
  &-search {
    position: relative;
    .inp-inner {
      padding-left: 43px;
    }
    .btn-search {
      position: absolute;
      left: 0;
    }
  }
  &-drawer {
    position: absolute;
    .el-drawer {
      padding-top: 50px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      &__container {
        background-color: rgba(0, 0, 0, 0.8);
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 6px;
        background-color: $disabled-color;
        border-radius: 12px;
      }
      &__body {
        text-align: left;
        .drawer {
          &-title {
            padding: 0 16px;
            font-size: $font-size-large;
            font-weight: 700;
            letter-spacing: -0.9px;
          }
        }
        .btn {
          &-drag {
            margin-left: 24px;
          }
        }
      }
    }
    &.l-scroll {
      .el-drawer__body {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
      }
    }
  }
  &-list {
    margin-top: 16px;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 16px 16px;
      border-top: 1px solid $border-color;
    }
    .list {
      &-title {
        font-weight: 700;
        letter-spacing: -0.7px;
      }
    }
    .el-tree {
      &-node {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 16px 16px;
        border-top: 1px solid $border-color;
        &__label {
          color: $--color--black;
          font-weight: 700;
        }
        &__expand-icon.is-leaf {
          display: none;
        }
      }
    }
  }
  &-scroll {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    .l-fixed {
      padding-bottom: 16px;
      border-bottom: 1px solid $border-color;
      & + .scroll-y {
        height: 100%;
      }
    }
    .scroll-y {
      overflow-y: auto;
    }
    .el-tabs {
      height: 100%;
      &__content {
        height: calc(100% - 55px);
        box-sizing: border-box;
        .el-tab-pane {
          height: 100%;
        }
      }
    }
    &-tab {
      height: 100%;
      .el-tabs {
        height: 100%;
        &__content {
          height: calc(100% - 60px);
          box-sizing: border-box;
          .el-tab-pane {
            height: 100%;
          }
        }
      }
    }
  }
  &-dialog-departure.el-dialog__wrapper {
    overflow: hidden;
    .el-dialog {
      &__body {
        padding: 0 16px 75px !important;
        overflow-y: hidden;
        .l {
          &-departure {
            .txt-sub {
              .txt-primary {
                padding-left: 4px;
              }
            }
          }
          &-card-tab {
            ul {
              display: flex;
              height: 75px;
              padding-bottom: 15px;
              box-sizing: border-box;
              overflow-x: auto;
              overflow-y: hidden;
              li {
                display: inline-block;
                margin-right: 10px;
              }
            }
            .card {
              width: 80px;
              height: 60px;
              padding: 10px;
              margin: 0;
              border-radius: 5px;
              background-color: $--color--pale-gray;
              box-shadow: none;
              font-size: $font-size-xsmall;
              line-height: 18px;
              text-align: right;
              box-sizing: border-box;
              .badge-circle-secondary {
                position: absolute;
                top: 10px;
                left: 10px;
              }
              &-title {
                font-weight: 700;
              }
              &-desc {
                color: $disabled-color;
              }
              &.is-on {
                background-color: $secondary-color;
                box-shadow: 5px 5px 15px 5px rgba(52, 114, 197, 0.12);
                color: $--color--white;
                .card-desc {
                  color: $--color--white;
                }
                .badge-circle-secondary {
                  background-color: $--color--white;
                  color: $secondary-color;
                }
              }
            }
          }
          &-fixed.border-none {
            padding-top: 15px;
          }
        }
      }
    }
  }
  &-bubble {
    ul::after {
      content: "";
      display: block;
      clear: both;
    }
    .bubble {
      position: relative;
      max-width: 250px;
      padding: 15px;
      box-sizing: border-box;
      margin: 0 10px 20px;
      background-color: $--color--pale-gray;
      border-radius: 5px;
      line-height: 21px;
      &.left::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-right-color: $--color--pale-gray;
        border-left: 0;
        margin-top: -10px;
        margin-left: -10px;
      }
      &.right {
        float: right;
        background-color: $--color--white;
        border: 1px solid $border-color;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          right: -20px;
          width: 0;
          height: 0;
          margin-top: -10px;
          border-left: 10px solid $border-color;
          border-right: 10px solid transparent;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: -19px;
          width: 0;
          height: 0;
          margin-top: -10px;
          border-left: 10px solid $--color--white;
          border-right: 10px solid transparent;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }
      }
    }
  }
  &-table {
    &-time {
      padding: 0 16px;
      table {
        border-top: 1px solid #000;
        tr {
          th,
          td {
            padding: 15px 16px;
            font-size: $font-size-small;
            vertical-align: middle;
            span {
              line-height: 21px;
            }
          }
          th {
            border-bottom: 1px solid $--color--white;
            background-color: $secondary-color;
            color: $--color--white;
            font-weight: 700;
            span {
              &:not(:first-child) {
                display: inline-block;
                margin-top: 10px;
              }
            }
          }
          td {
            border-bottom: 1px solid $border-color;
            &:not(:last-child) {
              border-right: 1px solid $border-color;
            }
            .btn-drag.medium {
              margin-left: 15px;
            }
          }
          &.is-on {
            td {
              background-color: $bg-card;
            }
          }
          &.is-drag {
            border: 2px solid $sub-color;
          }
          &.disabled {
            th {
              background-color: $disabled-color;
            }
            td {
              background-color: $--color--pale-gray;
            }
          }
        }
      }
    }
  }
  &-floating {
    position: fixed;
    z-index: 22;
    .btn-floating {
      position: fixed;
      bottom: 70px;
      right: 16px;
      width: 60px;
      height: 60px;
      background-color: $sub-color;
      border-radius: 50%;
      box-shadow: 5px 5px 15px 5px rgba(3, 161, 223, 0.15);
      &::before {
        content: "";
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url(../../assets/images/icon-floating-plus.svg) no-repeat 50% 50% / contain;
        filter: invert(1);
      }
    }
    .floating-menu {
      position: relative;
      display: inline-block;
      text-align: center;
      &-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: $--color--white;
        border-radius: 50%;
      }
      &-title {
        padding-top: 10px;
        color: $--color--white;
        line-height: 21px;
      }
      .badge-circle-blue {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    &-zoom {
      position: fixed;
      bottom: 16px;
      right: 16px;
      width: 50px;
      height: 100px;
      background-color: $--color--white;
      border-radius: 5px;
      box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
      .btn {
        width: 50px;
        height: 50px;
        &:disabled {
          background-color: $--color--white;
          .icon-plus,
          .icon-minus {
            filter: invert(81%) sepia(12%) saturate(231%) hue-rotate(175deg) brightness(87%) contrast(92%);
          }
        }
      }
    }
  }
  &-bookmark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    .bookmark {
      &-list {
        ul {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 40px;
          li {
            min-width: 33.33%;
            margin-bottom: 30px;
            &:nth-child(3n-1) {
              text-align: center;
            }
            &:nth-child(3n) {
              text-align: right;
            }
          }
        }
      }
    }
    .btn {
      &-floating {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        &::before {
          transform: rotate(45deg);
        }
      }
      &-edit {
        position: absolute;
        right: 40px;
        bottom: 49px;
        color: $--color--white;
        border-bottom: 1px solid $--color--white;
        border-radius: unset;
      }
      &-delete {
        position: absolute;
        top: 0;
        right: 0;
        left: unset;
      }
    }
  }
  &-drawer-routing {
    .l-map {
      height: 100%;
      margin: 60px 0;
      overflow: hidden;
      &.is-zoom {
        margin: 16px 0 0;
      }
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        margin-left: -4px;
        margin-right: -4px;
        margin-bottom: 8px;
        overflow: hidden;
      }
      .map {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        border: 4px solid $--color--white;
        &-title {
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          padding: 8px 10px;
          background-color: rgba(0, 0, 0, 0.7);
          border-bottom-right-radius: 5px;
        }
        .icon-pin {
          position: absolute;
        }
      }
    }
  }
}
