// dialog
.l-dialog {
  .el-dialog {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0 !important;
    border-radius: 5px;
    &__header {
      padding: 30px 16px 30px;
      &btn {
        top: 30px;
        right: 16px;
      }
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $--color--black !important;
      font-size: $--font-size-large;
      font-weight: 700;
      letter-spacing: -0.0563rem;
    }
    &__close {
      width: 24px;
      height: 24px;
      background: url(../../assets/images/icon-close.svg) no-repeat 50% 50% / contain;
      &::before {
        display: none;
      }
    }
    &__body {
      padding: 0 16px 30px !important;
      color: $--color--txt !important;
      // .l-inp.l-search {
      //   margin: 0;
      // }
    }
    &__footer {
      height: 52px;
      padding: 0 !important;
      border-top: 1px solid $--color--border;
      .dialog-footer {
        display: flex;
        width: 100%;
        height: 100%;
      }
      .el-button {
        width: 100%;
        border: none;
        font-size: $--font-size-regular;
        font-weight: 700;
        &--default {
          color: $--color--grey;
        }
        &--primary {
          background-color: $--color--white;
          color: $--color--primary;
        }
      }
    }
    // &-full {
    //   .el-dialog {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100% !important;
    //     height: 100%;
    //     transform: none;
    //     background-color: $--color--light-blue;
    //     &__header {
    //       padding: 16px 16px 30px 50px;
    //       &btn {
    //         .el-dialog__close {
    //           color: $--color--black;
    //         }
    //         top: 16px;
    //         right: unset;
    //         left: 16px;
    //       }
    //     }
    //     &__body {
    //       width: 100%;
    //       height: calc(100% - 70px);
    //       padding: 0 16px 30px !important;
    //       box-sizing: border-box;
    //       overflow-y: auto;
    //       .content {
    //         width: 100%;
    //         height: 100%;
    //         padding: 50px 20px;
    //         background-color: $--color--white;
    //         box-shadow: 15px 15px 30px 5px rgba(93, 114, 167, 0.1);
    //         border-radius: 5px;
    //         box-sizing: border-box;
    //         overflow-y: auto;
    //       }
    //     }
    //   }
    //   &.bg-white {
    //     .el-dialog {
    //       background-color: $--color--white;
    //     }
    //   }
    // }
  }
  &.small {
    .el-dialog {
      &__header {
        padding: 30px 16px 15px;
      }
      &__title {
        font-size: $--font-size-regular !important;
        letter-spacing: -0.0437rem;
        line-height: 1.3125rem;
        justify-content: center;
      }
      &__headerbtn {
        display: none;
      }
      &__body {
        font-size: $--font-size-regular !important;
        letter-spacing: -0.0437rem;
        line-height: 1.3125rem;
      }
    }
  }
}

.v-modal {
  opacity: 0.7 !important;
}
